{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="main-body">
    <!-- START .main-body -->
    <div class="container backgr-white roundy">
        <div class="main-body-header">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-column flex-md-row justify-content-between w-100">
                    <a href="/" class="logo-main"></a>
                    <nav aria-label="breadcrumb" class="d-none d-xl-block mx-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Услуги</li>
                        </ol>
                    </nav>
                </div>
                <a href="javascript:void(0);" class="hamburger"></a>
            </div>
            <h1 class="text-center">Услуги ветеринарной клиники</h1>
            <div class="sub-txt text-center">
                Мы предоставляем своим клиентам весь спектр услуг ветеринара. Наши врачи тщательно соблюдают
                стандарты цивилизованной ветеринарии, строго следуют регламентам и в любой ситуации ставят
                интересы пациента на первое место. Наш выбор — современная доказательная медицина, основанная на
                научном знании. </div>
        </div>

        <div class="main-body-box for-services-body">
            <div class="search-select-box for-services">
                <form class="d-xl-flex justify-content-between js-filter">
                    <div class="search-box">
                        <input id="searchinput" class="form-control js-search" name="q" value="" type="search"
                            placeholder="Введите что-нибудь для поиска" onfocus="" aria-label="Search">
                        <span id="searchclear" class="remove-input">x</span>
                    </div>
                    <div class="dropdown-select">
                        <span class="remove-input">x</span>
                        <select class="selectpicker" id="select-docs" name="serviceSection">
                            <option selected
                                data-content="<span class='default-select-option'>Выберите направление</span>">
                            </option>
                            <option value="khirurgiya">Хирургия</option>
                            <option value="terapiya">Терапия</option>
                            <option value="reanimatsiya">Реанимация</option>
                            <option value="stomatologiya">Стоматология</option>
                            <option value="statsionar">Стационар</option>
                            <option value="vizualnaya-diagnostika">Визуальная диагностика</option>
                            <option value="laboratoriya">Лаборатория</option>
                            <option value="anesteziologiya">Анестезиология</option>
                            <option value="oftalmologiya">Офтальмология</option>
                            <option value="kardiologiya">Кардиология</option>
                            <option value="onkologiya">Онкология</option>
                            <option value="nevrologiya">Неврология</option>
                            <option value="dermatologiya">Дерматология</option>
                            <option value="infektsionnoe-otdelenie">Инфекционное отделение</option>
                            <option value="ortopediya">Ортопедия</option>
                            <option value="reabilitatsiya">Реабилитация</option>
                            <option value="ekzotologiya">Экзотология</option>
                            <option value="endoskopiya">Эндоскопия</option>
                            <option value="endokrinologiya">Эндокринология</option>
                            <option value="kardiokhirurgiya">Кардиохирургия</option>
                        </select>
                    </div>
                </form>
            </div> <!-- END.search-select-box -->
            <h2 class="detail-info-heading text-center">Отделения</h2>
            <div class="js-items">
                <div class="services">
                    <!-- START .services -->
                    <div class="services-box for-two-sliders">
                        <div class="row">
                            {% for group_service in object_list %}
                            <div class="services-card col-12 col-md-6 col-xl-3">
                                <a href="/services/{{group_service.pk}}" class="with-backgr d-flex flex-column "
                                    style="background-image: url('/media/{{group_service.photo}}');">
                                    <h2> {{group_service.name}}</h2>

                                </a>
                            </div>
                            {% endfor %}

                        </div> <!-- END .row -->
                    </div> <!-- END .services-box -->
                </div> <!-- END .services -->
            </div>
        </div>
    </div>
</div>
<div class="deals-team">
    <!-- START .deals-team -->
    <div class="container container-for-mob d-md-flex">
        <div class="deals text-white d-md-flex flex-md-row">
            <div class="owl-carousel owl-theme">
                <div class="deals-owl-slider white roundy d-flex flex-column justify-content-end">
                    <div class="deals-white-container">
                        <h4>Заботимся <br>о каждом</h4>
                        <img src="/templates/vetcity/img/icons/vet_heart.png" class="deals-heart"
                            alt="Заботимся &lt;br&gt;о каждом" />
                    </div>
                    <img class="background"
                        src="/upload/resize_cache/iblock/932/1000_1000_0/qhmat5kkv4djqrr295vb9vctv7iledk2.webp"
                        loading="lazy" />
                </div>
            </div>
        </div>
        <div class="deals black-carousel text-black d-md-flex flex-md-row">
            <div class="owl-carousel owl-theme">
                <div class="deals-owl-slider roundy d-flex flex-column justify-content-end"
                    style="background-image: url('/upload/resize_cache/iblock/a77/1000_1000_0/n13ak6577y3t3mbtp7bkezl3ajz196yx.jpeg');">
                    <div class="deals-white-container">
                        <h4>Популярные услуги</h4>
                        <p>Прием врача хирурга</p>
                        <a class="btn btn-blue btn-small" href="konsultatsiya/priem-vracha-khirurga/">Подробнее</a>
                    </div>
                </div>
                <div class="deals-owl-slider roundy d-flex flex-column justify-content-end"
                    style="background-image: url('/upload/resize_cache/iblock/329/1000_1000_0/btj294ys46fi6nil4dlpjnekoqzpzwm3.jpeg');">
                    <div class="deals-white-container">
                        <h4>Популярные услуги</h4>
                        <p>Вакцинация</p>
                        <a class="btn btn-blue btn-small" href="protsedury/vaktsinatsiya/">Подробнее</a>
                    </div>
                </div>
                <div class="deals-owl-slider roundy d-flex flex-column justify-content-end"
                    style="background-image: url('/upload/resize_cache/iblock/401/1000_1000_0/tz9hpcovuh3dfu09a1wwjppbdaf8pnfi.jpeg');">
                    <div class="deals-white-container">
                        <h4>Популярные услуги</h4>
                        <p>Ультразвуковое исследование органов брюшной полости</p>
                        <a class="btn btn-blue btn-small"
                            href="uzi/ultrazvukovoe-issledovanie-organov-bryushnoy-polosti/">Подробнее</a>
                    </div>
                </div>
                <div class="deals-owl-slider roundy d-flex flex-column justify-content-end"
                    style="background-image: url('/upload/resize_cache/iblock/fd7/1000_1000_0/pzzbyhf4afnokw5kigjlcjkkwv9ywmln.jpeg');">
                    <div class="deals-white-container">
                        <h4>Популярные услуги</h4>
                        <p>Рентгенограмма, 1 снимок</p>
                        <a class="btn btn-blue btn-small" href="rentgenografiya/rentgenogramma-1-snimok/">Подробнее</a>
                    </div>
                </div>
                <div class="deals-owl-slider roundy d-flex flex-column justify-content-end"
                    style="background-image: url('/upload/resize_cache/iblock/358/1000_1000_0/jnrlp10d7uyu1e4gv0jrnoe691xw3u4r.jpeg');">
                    <div class="deals-white-container">
                        <h4>Популярные услуги</h4>
                        <p>Прием врача терапевта</p>
                        <a class="btn btn-blue btn-small" href="konsultatsiya/priem-vracha-terapevta/">Подробнее</a>
                    </div>
                </div>
            </div>
        </div> <!-- END .deals.black-carousel-->
    </div> <!-- END .container.container-for-mob -->
</div> <!-- END .deals-team -->
{% endblock %}