{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#1B1B29" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#1B1B29" media="(prefers-color-scheme: dark)">

    <title>Ветеринарные врачи клиники vet.city</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="ветеринар, ветеринарный врач, врач ветеринар" />
<meta name="description" content="Профессионализм — обязательная база любого настоящего дела. Врачей vet.city объединяет стремление выполнять свою работу с полной самоотдачей и создавать пространство, в котором комфортно нашим клиентам и пациентам. Каждый врач нашей клиники следует стандартам цивилизованной медицины, а наша безусловная ценность — любовь к животным. На данный момент наша команда включает более 300 человек, и это число постоянно растёт." />




<link href="{% static '/templates/vetcity/css/jquery.fancybox.min.css%3F162694166212795.css' %}" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="{% static '/templates/vetcity/css/bootstrap.min.css%3F1626941662161415.css' %}" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="{% static '/templates/vetcity/css/owl.carousel.min.css%3F16269416623356.css' %}" type="text/css"   data-template-style="true"  rel="stylesheet" />
<link href="{% static '/templates/vetcity/css/owl.theme.default.min.css%3F16269416621018.css' %}" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="{% static '/templates/vetcity/css/main.css' %}" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="{% static '/templates/vetcity/css/bootstrap-select.min.css%3F162694166211832.css' %}" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="{% static '/templates/vetcity/css/modal-window.css%3F16317782243928.css' %}" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="{% static '/templates/vetcity/css/style_secondary.css%3F163177822419507.css' %}" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="{% static '/templates/vetcity/css/custom.css%3F164845239236922.css' %}" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="{% static '/templates/.default/components/bitrix/menu/top/style.css%3F1628592705625.css' %}" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="{% static '/templates/.default/components/bitrix/search.title/.default/style.css%3F16285927052108.css' %}" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="{% static '/templates/.default/components/bitrix/menu/footer/style.css%3F1628592705625.css' %}" type="text/css"  data-template-style="true"  rel="stylesheet" />



        <div class="has-overflow-hidden">
            <div class="main-nav"> <!-- START .main-nav-->
                <div class="nav-container d-xl-flex flex-xl-column">
                    <div class="nav-in order-xl-2 navbar-list">
                        <a href="../index.html" class="logo"></a>
                        <div class="d-none d-xl-block head-navbar">Меню</div>
                        <div class="main-nav-items">
                            
    <ul class="list-unstyled">
        <div class="navbar-social-links">
            
            <a target="_blank" href="https://vk.com/public188120292" class="footer-vk"></a>
            <a target="_blank" href="https://t.me/vetcityclinic" class="footer-tg"></a>
        </div>
                                                                    <li class="item-left-outside"><a href="../index.html">Главная</a></li>
                                                                                                <li><a href="../about/index.html">О нас</a></li>
                                                                                                <li><a href="../services/index.html">Услуги</a></li>
                                                                                                <li><a href="index.html" class="selected">Наши врачи</a></li>
                                                                                                <li><a href="../services/spetspredlozheniya/index.html">Спецпредложения</a></li>
                                                                                                <li><a href="../knowledge-base/index.html">База знаний</a></li>
                                                                                                <li><a href="../vacancy/index.html">Вакансии</a></li>
                                                                                                <li><a href="../contacts/index.html">Контакты</a></li>
                                        </ul>
                        </div> <!-- END .main-nav-items -->
                    </div> <!-- END .nav-in -->
                    <div class="order-xl-1 navbar-contacts d-xl-flex">
                        <div class="nav-in">
                            <a href="tel:+74951268290" class="main-nav-contact">
                                +7 495 126-82-90                            </a>
                        </div>
                        <div class="nav-in">
                            <a href="index.html#" class="main-nav-address">
                                Москва, Зубарев пер., д. 7                            </a>
                        </div>
                    </div>
                    <div class="nav-in-bottom">
                        <div class="main-nav-booking backgr-blue text-white d-flex justify-content-between flex-xl-column">
                            <div class="logo-in d-none d-xl-block"></div>
                            <div>Широкий спектр<br>
    ветеринарных услуг<br>
    и специалистов<br>
    круглосуточно
</div>                            <a href="index.html#calltouch" class="btn btn-white align-self-end align-self-xl-start js-btn-callback">Записаться</a>
                        </div>  <!-- END .main-nav-booking -->
                    </div>  <!-- END .nav-in-bottom -->
                </div>  <!-- END .container -->
            </div> <!-- END .main-nav-->

            <div class="navbar" id="fixed-menu">  <!-- START .navbar -->
                <div class="container navbar-container">
                    <div class="d-flex justify-content-between navbar-in">
                        
<div id="title-search" class="d-flex justify-content-between">
    <form action="https://vet.city/search/" class="form-inline position-relative">
        <input id="title-search-input" class="form-control" name="q" type="text" autocomplete="off" placeholder="Поиск" aria-label="Search" onfocus="startFocus()" onblur="stopFocus()">
		<button type="submit" class="submit"></button>
    </form>
    <input name="s" type="hidden" value="Поиск" />
	
	<a class="btn btn-nav-book text-white js-btn-callback" href="index.html#">Запись</a>
</div>


                        <div class="d-block d-xl-none">
                            <a href="tel:+7 495 126-82-90" class="btn btn-blue btn-mob-call">позвонить</a>
                        </div>
                        <div class="d-none d-xl-block text-white d-xl-flex align-items-xl-center">
                            <div class="nav-non-stop">
                                Круглосуточно                            </div>
                            <div><a href="tel:+74951268290" class="nav-phone">
                                +7 495 126-82-90                            </a></div>
                            <div><a href="../contacts/index.html" class="nav-address">
                                Москва, Зубарев пер., д. 7                            </a></div>
                        </div>
                    </div>   <!-- END .navbar-in -->
                </div>  <!-- END.container -->
            </div>  <!-- END .navbar -->
        <div class="main-body">  <!-- START .main-body -->
        <div class="container backgr-white roundy">
            <div class="main-body-header">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column flex-md-row justify-content-between w-100">
                        <a href="../index.html" class="logo-main"></a>
                        <nav aria-label="breadcrumb" class="d-none d-xl-block mx-auto"><ol class="breadcrumb"><li class="breadcrumb-item"><a href="../index.html">Главная</a></li><li class="breadcrumb-item active" aria-current="page">Врачи</li></ol></nav>                    </div>
                    <a href="javascript:void(0);" class="hamburger"></a>
                </div>
                <h1 class="text-center">Наши врачи</h1>
                <div class="sub-txt text-center">
                    Наши сотрудники досконально знают свое дело,<br>увлечены профессией и постоянно совершенствуются в ней
                </div>
            </div>   <!-- END .main-body-header  -->

            <div class="doctors">
                                                    
                <div class="row row-cards js-items">
                    {% for doctor in object_list %}
                        <div class="card-doc d-flex flex-column col-6 col-md-4 col-lg-3 col-xl-card">
                            <a href="/doctors/{{doctor.pk}}" class="card-doc-in backgr-dgrey d-flex align-items-end" style="background-image: url(../upload/resize_cache/iblock/c2b/1000_1000_0/i8pq3udhxycl256xx3c310xopxr7ugix.webp)">
                                <div class="card-doc-txt">
                                    <h5>{{ doctor }}</h5>
                                    <div class="card-doc-txt-in">Заведующий отделением стоматологии</div>
                                </div>
                            </a> <!-- END .card-doc-in -->
                        </div> <!-- END .card-doc -->
                    {% endfor %}
                    
                </div> <!-- END  .row -->
            </div>  <!-- END .doctors -->
        </div>  <!-- END .main-body-box  -->
    </div>  <!-- END .container  -->
</div>  <!-- END .main-main-body-->

    <div class="internship">   <!-- START .internship-in -->
        <div class="container roundy d-flex">
            <div class="internship-in backgr-white d-flex flex-column justify-content-between mt-auto">
                <h3 class="text-center">Интернатура</h3>
                <div class="internship-txt">
                    В <span class="heart-icon"></span>Vetcity вы получите возможность заниматься любимым делом, получая достойное вознаграждение.                </div>
                <div class="d-flex flex-column flex-xl-row justify-content-between">
                    <div class="internship-txt-sm">
                        Мы собираем команду единомышленников, готовых расти профессионально
и обеспечивать высокий уровень помощи пациентам любого вида и с заболеваниями любой сложности.
                    </div>
                    <div class="mt-auto">
                        <button class="btn btn-blue btn-recruit js-show-vacancy-form"
                                data-vacancy="Интернатура">Откликнуться</button>
                    </div>
                </div>   <!-- END .d-flex -->
            </div>   <!-- END .internship-in -->
        </div>   <!-- END .container.roundy -->
    </div>   <!-- END .internship -->
    <!-- Modal Отклик на вакансию -->
    <div id="cmp625c42e87534d">
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                </div>
            </div>
        </div>
    </div>


    


        <footer>  <!-- START footer -->
            <div class="container smaller-container text-white">
                <div class="footer-top">
                    <div class="row">
                        <div class="col-12 col-xl-7">
                            <div class="row">
                                <div class="footer-menu col-12 col-md-6 order-md-2">
                                    
<ul class="list-unstyled">

			<li class="text-center text-md-left"><a href="../index.html"><h4>Главная</h4></a></li>
		
			<li class="text-center text-md-left"><a href="../about/index.html"><h4>О нас</h4></a></li>
		
			<li class="text-center text-md-left"><a href="../services/index.html"><h4>Услуги</h4></a></li>
		
			<li class="text-center text-md-left"><a href="index.html" class="selected"><h4>Наши врачи</h4></a></li>
		
			<li class="text-center text-md-left"><a href="../services/spetspredlozheniya/index.html"><h4>Спецпредложения</h4></a></li>
		
			<li class="text-center text-md-left"><a href="../knowledge-base/index.html"><h4>База знаний</h4></a></li>
		
			<li class="text-center text-md-left"><a href="../vacancy/index.html"><h4>Вакансии</h4></a></li>
		
			<li class="text-center text-md-left"><a href="../contacts/index.html"><h4>Контакты</h4></a></li>
		

</ul>
                                </div>
                                <div class="footer-contacts col-12 col-md-6 order-md-1">
                                    <div class="footer-heart d-none d-md-block"></div>
                                    <div class="footer-address">
                                        <div class="row footer-contact">
                                            <div class="col-6 col-md-12">
                                                <div class="text-grey">Адрес:</div>
<div>
    <a href="../contacts/index.html">Москва, Зубарев<br>
        переулок, д. 7</a>
</div>                                            </div>
                                            <div class="col-6 col-md-12">
                                                <div class="text-grey">Телефон:</div>
                                                <div><a href="tel:+74951268290">
                                                    +7 495 126-82-90</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center">
                                            <div class="non-stop"></div>
<div>
    Работаем<br>
    Круглосуточно
</div>                                        </div>
                                    </div>   <!-- END .footer-address -->
                                </div>   <!-- END .footer-contacts -->
                            </div>   <!-- END .row -->
                        </div>   <!-- END .col-12.col-xl-7 -->
                        <div class="footer-connect col-12 col-xl-5 d-xl-flex justify-content-xl-between align-items-xl-end flex-xl-column">
                            <div class="footer-subscribe">
                                <div class="form-subscribe">
                                        <div class="form-subscribe js-subscribe-container">
    <h4 class="text-black">Подпишитесь на нашу<br> рассылку:</h4>
	<form class="js-subscribe-form" action='https://vet.city/ajax/subscribe.php'>
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="mailingListId" value="1" />
        <div class="form-group d-flex">
            <input type="email" name="email" value="" class="form-control" placeholder="Ваш email" required>
            <span class="form-group-btn">
                <button class="btn btn-blue" name="OK" type="submit" value="">Подписаться</button>
            </span>
        </div>
	</form>
</div>
                                </div>
                            </div>
                            <div class="footer-social d-flex justify-content-between align-items-center">
                                <div class="footer-heart d-block d-md-none"></div>
                                <div class="footer-social-links">
                                    
                                    <a href="https://vk.com/public188120292" target="_blank" class="footer-vk"></a>
                                    <a href="https://t.me/vetcityclinic" target="_blank" class="footer-tg"></a>
                                </div>
                            </div>    <!-- END .footer-social -->
                        </div>   <!-- END .footer-connect -->
                    </div>   <!-- END .row -->
                </div>   <!-- END .footer-top -->
                <div class="footer-bottom d-flex flex-column flex-lg-row justify-content-lg-between">
                    <a href="https://skam.team" target="_blank" class="design text-uppercase text-right order-lg-2">designed by</a>
                    <div class="copyright text-center text-lg-left order-lg-1">
                        2022&nbsp;© ООО «Вет Сити Центр»                    </div>
                </div>   <!-- END .footer-bottom -->
            </div>    <!-- END .container.smaller-container -->
        </footer>   <!-- END footer -->
</div>
<!-- To detect which environment we are in -->
<div id="environment-xs" class="d-sm-none"></div>
<div id="environment-sm" class="d-none d-sm-block d-md-none"></div>
<div id="environment-md" class="d-none d-md-block d-lg-none"></div>
<div id="environment-lg" class="d-none d-lg-block d-xl-none"></div>
<div id="environment-xl" class="d-none d-xl-block"></div>


<div id="c625c42e876078">
    <div class="modal fade js-callback-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="index.html" class="text-left needs-validation js-calltouch-form" novalidate>
                    <div class="modal-header">
                        <div class="modal-title">Форма обратного звонка</div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger js-error" style="display: none;"></div>
                        <div class="input-mb">
                            <div class="form-group position-relative">
                                <label>Телефон</label>
                                <input type="tel" class="form-control js-phone" placeholder="Телефон" required>
                            </div>
                        </div>
                        <div class="input-mb">
                            <div class="form-group position-relative">
                                <label>Ваше имя</label>
                                <input type="text" class="form-control js-name" placeholder="Ваше имя" required
                                >
                            </div>
                        </div>
                        <div class="form-check check-accept">
                            <input class="form-check-input" type="checkbox" name="ACCEPT_CALLTOUCH" value="Y" id="ACCEPT_CALLTOUCH" required="required">
                                                        <label class="form-check-label" for="ACCEPT_CALLTOUCH">Я согласен с <a href="../upload/iblock/1bf/hb7nrqz69iwrbs22pmo7r7tjpkpp8n5t.pdf" target="_blank">условиями обработки персональных данных</a>, <a href="../upload/iblock/f3c/zav8cy135l7bzg11beyg7w33wpr1rxkg.pdf" target="_blank">правилами оказания онлайн-консультирования</a> и <a href="../upload/iblock/9b6/judzjq4rc3gtsyh6q6ghaccggl3nusq7.pdf" target="_blank">условиями договора-оферты на оказание услуг</a></label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <button type="submit" class="btn btn-modal btn-blue">Заказать звонок</button>
                        <i class="icon icon-heart"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade show js-callback-success-modal" tabindex="-1" role="dialog" aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="text-left needs-validation">
                    <div class="modal-header">
                        <div class="modal-title">Спасибо!</div>
                    </div>
                    <div class="modal-body"></div>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="../index.html" class="btn btn-modal btn-blue">Перейти на главную</a>
                        <i class="icon icon-heart"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static '/templates/vetcity/js/jquery-3.6.0.min.js%3F162694166289503' %}"></script>
<script type="text/javascript" src="{% static '/templates/vetcity/js/popper.min.js%3F162694166221009' %}"></script>
<script type="text/javascript" src="{% static '/templates/vetcity/js/bootstrap.bundle.min.js%3F162694166284384' %}"></script>
<script type="text/javascript" src="{% static '/templates/vetcity/js/scrollreveal.js%3F162694166246205' %}"></script>
<script type="text/javascript" src="{% static '/templates/vetcity/js/jquery.fancybox.min.js%3F162694166268265' %}"></script>
<script type="text/javascript" src="{% static '/templates/vetcity/js/owl.carousel.min.js%3F162694166244348' %}"></script>
<script type="text/javascript" src="{% static '/templates/vetcity/js/bootstrap-select.min.js%3F162694166257752' %}"></script>
<script type="text/javascript" src="{% static '/templates/vetcity/js/jquery.inputmask.min.js%3F162694166293838' %}"></script>
<script type="text/javascript" src="{% static '/templates/vetcity/js/moment.min.js%3F162869081858862' %}"></script>
<script type="text/javascript" src="{% static '/templates/vetcity/js/jquery.validate.min.js%3F163177822424430' %}"></script>
<script type="text/javascript" src="{% static '/templates/vetcity/js/jquery.highlight.js%3F16345471064079' %}"></script>
<script type="text/javascript" src="{% static '/templates/vetcity/js/main.js%3F16353386316990' %}"></script>
<script type="text/javascript" src="{% static 'https://vet.city/bitrix/components/bitrix/search.title/script.js?16267702349847' %}"></script>
<script type="text/javascript" src="{% static '/components/wlcomponents/subscribe/templates/.default/script.js%3F1626941662299' %}"></script>
<script type="text/javascript" src="{% static '/components/wlcomponents/calltouch/templates/.default/script.js%3F16484523923457' %}"></script>
<script type="text/javascript" src="{% static '/templates/.default/components/bitrix/news/doctors/script.js%3F16297280202333' %}"></script>
<script type="text/javascript" src="{% static '/components/wlcomponents/form.result.new/templates/vacancy/script.js%3F16399825533035' %}"></script>


    new doctorsList({
        ajax_id: 'doctors_list_1',
        pagen: 'PAGEN_1',
        pages: 12,
        exclude_ids: ["571","554","579","550","489","469","581","511"]    })
</script><script>
        new vacancyFormComponent({
            hash: 'b3996587161bf6fb5a31c1fc447c8308',
            ajax_path: '/local/ajax/',
            componentID: 'cmp625c42e87534d'
        });
    </script><script>
    new callbackModalComponent({
        componentID: 'c625c42e876078',
        form_id: 'vet_city'
    })
</script>

</body>
</html>
