{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="main-body">
    <!-- START .main-body -->
    <div class="container backgr-white roundy">
        <div class="main-body-header">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-column flex-md-row justify-content-between w-100">
                    <a href="../index.html" class="logo-main"></a>
                    <nav aria-label="breadcrumb" class="d-none d-xl-block mx-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../index.html">Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Врачи</li>
                        </ol>
                    </nav>
                </div>
                <a href="javascript:void(0);" class="hamburger"></a>
            </div>
            <h1 class="text-center">Наши врачи</h1>
            <div class="sub-txt text-center">
                Наши сотрудники досконально знают свое дело,<br>увлечены профессией и постоянно совершенствуются
                в ней
            </div>
        </div> <!-- END .main-body-header  -->

        <div class="doctors">

            <div class="row row-cards js-items">
                {% for doctor in object_list %}
                <div class="card-doc d-flex flex-column col-6 col-md-4 col-lg-3 col-xl-card">
                    <a href="/doctors/{{doctor.pk}}" class="card-doc-in backgr-dgrey d-flex align-items-end"
                        style="background-image: url('/media/{{doctor.photo}}');">
                        <div class="card-doc-txt">
                            <h5>{{ doctor.last_name }} {{ doctor.first_name }}</h5>
                            <div class="card-doc-txt-in"> {{doctor.speciality}}</div>
                        </div>
                    </a> <!-- END .card-doc-in -->
                </div> <!-- END .card-doc -->
                {% endfor %}

            </div> <!-- END  .row -->
        </div> <!-- END .doctors -->
    </div> <!-- END .main-body-box  -->
</div> <!-- END .container  -->
</div> <!-- END .main-main-body-->

<div class="internship">
    <!-- START .internship-in -->
    <div class="container roundy d-flex">
        <div class="internship-in backgr-white d-flex flex-column justify-content-between mt-auto">
            <h3 class="text-center">Интернатура</h3>
            <div class="internship-txt">
                В <span class="heart-icon"></span>Vetcity вы получите возможность заниматься любимым делом, получая
                достойное вознаграждение. </div>
            <div class="d-flex flex-column flex-xl-row justify-content-between">
                <div class="internship-txt-sm">
                    Мы собираем команду единомышленников, готовых расти профессионально
                    и обеспечивать высокий уровень помощи пациентам любого вида и с заболеваниями любой сложности.
                </div>
                <div class="mt-auto">
                    <button class="btn btn-blue btn-recruit js-show-vacancy-form"
                        data-vacancy="Интернатура">Откликнуться</button>
                </div>
            </div> <!-- END .d-flex -->
        </div> <!-- END .internship-in -->
    </div> <!-- END .container.roundy -->
</div> <!-- END .internship -->
<!-- Modal Отклик на вакансию -->
<div id="cmp625c42e87534d">
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>
{% endblock %}