{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main-body">
    <!-- START .main-body -->
    <div class="container backgr-white roundy">
        <div class="main-body-header for-doc-profile">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-column flex-md-row justify-content-between w-100">
                    <a href="/index.html" class="logo-main"></a>
                    <nav aria-label="breadcrumb" class="d-none d-xl-block mx-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index.html">Главная</a></li>
                            <li class="breadcrumb-item"><a href="/index.html">Врачи</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Нагорная Татьяна Сергеевна
                            </li>
                        </ol>
                    </nav>
                </div>
                <a href="javascript:void(0);" class="hamburger"></a>
            </div>

            <div class="main-body-box">
                <div class="profile-header d-md-flex flex-md-row justify-content-between">
                    <div class="profile-header-gallery">
                        <div class="owl-carousel owl-theme">
                            <div class="profile-owl-slider roundy backgr-violet"
                                style="background-image: url('/media/{{object.photo}}');"></div>
                        </div>
                    </div>
                    <div class="profile-header-about d-xl-flex flex-xl-column">
                        <h1>{{ object.first_name }} {{ object.last_name }}</h1>
                        <h2 class="profile-header-profession">{{object.vetprofile.speciality}} </h2>
                        <div class="row">
                        </div> <!-- END .row -->
                        <div class="profile-button">
                            <a href="index.html#calltouch" class="btn btn-blue js-btn-callback">Записаться</a>
                        </div>
                    </div> <!-- END .profile-header-about-->
                </div> <!-- END .profile-header -->
            </div> <!-- END .main-body-box  -->
        </div> <!-- END .main-body-header  -->
    </div> <!-- END .container  -->
</div> <!-- END .main-body-->
<div class="doc-statement">
    <!-- START .doc-statement -->
    <div class="container backgr-blue text-white roundy">
        <div class="row">
            <div class="col-12 col-lg-6 doctor-quote-right">
                <div class="doctor-quote-right-top">
                    Я всегда хотела лечить животных, поэтому сразу после школы поступила в МГАВМиБ им. К. И.
                    Скрябина.&nbsp;<br>
                    Еще во время учебы стала ассистентом, а затем работала врачом в различных ветеринарных
                    клиниках.<br>
                    <br>
                    Мне нравится работать в Vetcity — это современный перспективный ветцентр с большими
                    возможностями, хорошим оборудованием и замечательными специалистами.<br>
                    <br>
                    В свободное время я занимаюсь спортом, читаю книги, люблю пешие прогулки, в которых меня
                    сопровождает моя собака — большой швейцарский зенненхунд.&nbsp;<br>
                    <br>
                    А дома нас ждут две кошки — метис и курильский бобтейл.<br>
                    <br>
                </div>
            </div>
        </div>
        <div class="quote-doctor-name">Нагорная Татьяна Сергеевна</div>
    </div> <!-- END .container  -->
</div> <!-- END .doc-statement -->

<div class="category-services with-margin-bottom">
    <!-- START .category-services -->
    <div class="container backgr-white roundy">
        <div class="block-bordered-btn">
            <div class="block-with-border-bottom">
                <div class="body-inner">
                    <h2 class="detail-info-heading text-center">Услуги данного направления</h2>
                    <div class="services-search-container">
                        <div class="services-search-input-wrapper">
                            <div class="services-search-hide-results"></div>
                            <input type="text" class="services-search-input" placeholder="Услуга"
                                name="servicesSearchInput" autocomplete="off">
                            <div class="services-search-show-results"></div>
                            <span id="searchclear" class="remove-input" style="">x</span>
                            <span class="services-search-dropdown-arrow"></span>
                            <div class="services-search-dropdown">
                                <a href="/services/reanimatsiya/orit/index.html" target="_blank"
                                    class="js-service-suggest">ОРИТ</a>
                                <a href="/services/reanimatsiya/orit-dlya-ekzoticheskikh-zhivotnykh/index.html"
                                    target="_blank" class="js-service-suggest">ОРИТ для экзотических
                                    животных</a>
                                <a href="index.html#" onclick="return false;" class="js-services-not-found"
                                    style="display: none;">Ничего не найдено</a>
                            </div>
                        </div>
                        <div class="js-services-search-clear"></div>
                    </div>
                    <div id="search-categories">
                        <div class="search-category">
                            <a href="javascript:void(0);" data-toggle="collapse" data-target="#search-category-0"
                                class="search-category-toggle collapsed d-flex align-items-center">
                                <span class="search-category-toggle-icon"></span>
                                <span class="search-category-toggle-text">
                                    Реанимация <span class="search-category-count">2</span>
                                </span>
                            </a>

                            <div id="search-category-0" class="collapse js-search-category-item"
                                data-parent="#search-categories">
                                <div class="search-category-in">
                                    <div class="search-category-item d-flex flex-column flex-xl-row flex-xl-wrap order-xl-1 align-items-xl-center"
                                        data-name="ОРИТ">
                                        <div class="search-category-item-title">
                                            ОРИТ <span class="search-category-item-collapse collapsed"
                                                data-toggle="collapse" data-target="#collapse3208" aria-expanded="true"
                                                aria-controls="collapse3208"></span>
                                        </div>
                                        <div class="search-category-item-text order-xl-3 collapse" id="collapse3208"
                                            aria-labelledby="heading3208">
                                            <div class="text-container">
                                                <p><strong>В стоимость услуги включено:</strong></p>
                                                Ивл, выполнение инъекции, дача пероральных препаратов, обработка
                                                глаз/наружных слуховых ходов/ротовая полость, обработка швов и
                                                ран, взятие крови, тонометрия, ингаляции, докорм, контроль узи
                                                (afast\tfast), переустановка/постановка вв катетеров и ук,
                                                оксигенация, рентген в динамике (стационар), глюкометрия, корма,
                                                расходные материалы и препараты. Примечание: препараты
                                                стоимостью выше 5000 рублей оплачиваются отдельно<br>
                                                <br>
                                                Подробности доступны&nbsp;<a
                                                    href="/pages/novyy-sostav-uslugi-statsionar-orit/index.html">по
                                                    ссылке</a>
                                            </div>
                                        </div>
                                        <div class="search-category-item-buttons order-xl-2 d-flex align-items-center">
                                            <a href="index.html#calltouch"
                                                class="btn btn-blue js-btn-callback">Записаться</a>
                                            <div class="search-category-item-price text-nowrap">25 000 ₽</div>
                                        </div>
                                    </div> <!-- END .search-category-item -->
                                    <div class="search-category-item d-flex flex-column flex-xl-row flex-xl-wrap order-xl-1 align-items-xl-center"
                                        data-name="ОРИТ для экзотических животных">
                                        <div class="search-category-item-title">
                                            ОРИТ для экзотических животных </div>
                                        <div class="search-category-item-buttons order-xl-2 d-flex align-items-center">
                                            <a href="index.html#calltouch"
                                                class="btn btn-blue js-btn-callback">Записаться</a>
                                            <div class="search-category-item-price text-nowrap">12 000 ₽</div>
                                        </div>
                                    </div> <!-- END .search-category-item -->
                                </div> <!-- END .search-category-in -->
                            </div> <!-- END #search-category-0 -->
                        </div> <!-- END .search-category -->
                        <div class="text-center">
                            <a href="javascript:;" class="btn btn-white js-toggle-services-visibility"
                                onclick="toggleAccordeonState(this)" data-name-show="Показать все"
                                data-name-hide="Свернуть все" aria-expanded="false">Показать все</a>
                            <a href="index.html#" class="hidden js-show-all-items" data-toggle="collapse"
                                aria-expanded="false" data-target=".js-search-category-item"
                                aria-controls="search-category-0"></a>
                        </div>
                    </div> <!-- END #search-categories  -->
                </div> <!-- END .body-inner -->
            </div> <!-- END .block-with-border-bottom -->
        </div><!-- .block-bordered-btn  -->
    </div> <!-- END .container  -->
</div> <!-- END .category-services -->

<div class="block-with-docs" id="cmp625c434226099">
    <!-- START .block-with-docs -->
    <div class="container backgr-white roundy">
        <div class="block-bordered-btn">
            <div class="block-with-border-bottom">
                <h4 class="text-center">Другие врачи</h4>
                <div class="body-inner">
                    <div class="row row-cards js-items">
                        <div class="card-doc d-flex flex-column col-6 col-md-4 col-lg-3 col-xl-card"
                            id="bx_3218110189_454">
                            <a href="/belenson-maksim-mikhaylovich/index.html"
                                class="card-doc-in backgr-dgrey d-flex align-items-end"
                                style="background-image: url(/upload/resize_cache/iblock/fb8/1000_1000_0/2l60wo2bw4y53g0owitosz4i92132xmz.jpg)">
                                <div class="card-doc-txt">
                                    <h5>Беленсон Максим Михайлович</h5>
                                    <div class="card-doc-txt-in">
                                        Ветеринарный врач - эндокринолог </div>
                                </div>
                            </a> <!-- END .card-doc-in -->
                        </div> <!-- END .card-doc -->
                        <div class="card-doc d-flex flex-column col-6 col-md-4 col-lg-3 col-xl-card"
                            id="bx_3218110189_461">
                            <a href="/dubovitskaya-olga-aleksandrovna/index.html"
                                class="card-doc-in backgr-dgrey d-flex align-items-end"
                                style="background-image: url(/upload/iblock/c35/1twcvz8nsseeaots250afam923p20dfe.jpg)">
                                <div class="card-doc-txt">
                                    <h5>Дубовицкая Ольга Александровна</h5>
                                    <div class="card-doc-txt-in">
                                        Заведующий отделением терапии и неврологии </div>
                                </div>
                            </a> <!-- END .card-doc-in -->
                        </div> <!-- END .card-doc -->
                        <div class="card-doc d-flex flex-column col-6 col-md-4 col-lg-3 col-xl-card"
                            id="bx_3218110189_456">
                            <a href="/nazarova-mariya-vladimirovna/index.html"
                                class="card-doc-in backgr-dgrey d-flex align-items-end"
                                style="background-image: url(/upload/resize_cache/iblock/856/1000_1000_0/869orhiu53ot1ro631nfsthmospihhx3.jpg)">
                                <div class="card-doc-txt">
                                    <h5>Назарова Мария Владимировна</h5>
                                    <div class="card-doc-txt-in">
                                        Заведующий отделением кардиологии </div>
                                </div>
                            </a> <!-- END .card-doc-in -->
                        </div> <!-- END .card-doc -->
                        <div class="card-doc d-flex flex-column col-6 col-md-4 col-lg-3 col-xl-card"
                            id="bx_3218110189_452">
                            <a href="/frolenko-vladimir-vladimirovich/index.html"
                                class="card-doc-in backgr-dgrey d-flex align-items-end"
                                style="background-image: url(/upload/iblock/ccc/c7v1zlbysmzib8o2h41kmngx6aepqtbk.jpg)">
                                <div class="card-doc-txt">
                                    <h5>Фроленко Владимир Владимирович</h5>
                                    <div class="card-doc-txt-in">
                                        Ветеринарный врач - кардиолог - пульмонолог </div>
                                </div>
                            </a> <!-- END .card-doc-in -->
                        </div> <!-- END .card-doc -->
                        <div class="card-doc d-flex flex-column col-6 col-md-4 col-lg-3 col-xl-card"
                            id="bx_3218110189_453">
                            <a href="/kostylev-vladislav-alekseevich/index.html"
                                class="card-doc-in backgr-dgrey d-flex align-items-end"
                                style="background-image: url(/upload/iblock/42d/jrpr05wtoa87k1eov4s6orvdqirtuhwc.jpg)">
                                <div class="card-doc-txt">
                                    <h5>Костылев Владислав Алексеевич</h5>
                                    <div class="card-doc-txt-in">
                                        Ветеринарный врач-кардиолог </div>
                                </div>
                            </a> <!-- END .card-doc-in -->
                        </div> <!-- END .card-doc -->
                    </div> <!-- END .row.row-cards -->
                </div> <!-- END .body-inner -->
            </div> <!-- END .block-with-border-bottom -->
            <div class="btn-box-more">
                <div class="btn btn-white js-show-more">Показать еще</div>
            </div> <!-- END .btn-box-more-->
        </div> <!-- END .for-doctors -->
    </div> <!-- END .container -->
</div> <!-- END .block-with-docs -->




<div class="articles-block">
    <!-- START .articles-block -->
    <div class="container backgr-white roundy">
        <div class="block-bordered-btn">
            <div class="block-with-border-bottom">
                <div class="articles">
                    <h2 class="detail-info-heading text-center">Статьи</h2>
                    <div class="knowledge-wrap">
                        <div class="row js-items">
                            <div class="knowledge-item col-6 col-sm-4 col-md-3 col-xl-card" id="bx_651765591_">
                                <a href="/knowledge-base/articles/aktivnaya-sobaka-/index.html"
                                    class="knowledge-item-in">
                                    <div class="knowledge-item-picture"
                                        style="background-image: url('/upload/resize_cache/iblock/ffe/570_340_0/00u8ph71vsr4ytio1fvyrb58ujdvznj4.jpg');">
                                    </div>
                                    <div class="knowledge-item-text">Активная собака</div>
                                </a>
                            </div> <!-- END .knowledge-item -->
                            <div class="knowledge-item col-6 col-sm-4 col-md-3 col-xl-card" id="bx_651765591_">
                                <a href="/knowledge-base/articles/sobaka-boitsya-vody/index.html"
                                    class="knowledge-item-in">
                                    <div class="knowledge-item-picture"
                                        style="background-image: url('/upload/resize_cache/iblock/00b/570_340_0/om78uhjzjbv70oqug4kupbz30zr1ilon.jpg');">
                                    </div>
                                    <div class="knowledge-item-text">Собака боится воды</div>
                                </a>
                            </div> <!-- END .knowledge-item -->
                            <div class="knowledge-item col-6 col-sm-4 col-md-3 col-xl-card" id="bx_651765591_">
                                <a href="/knowledge-base/articles/obuchenie/index.html" class="knowledge-item-in">
                                    <div class="knowledge-item-picture"
                                        style="background-image: url('/upload/resize_cache/iblock/5e2/570_340_0/0fdgcxg0w8oe4w93ki6291wvheta72xw.webp');">
                                    </div>
                                    <div class="knowledge-item-text">Обучение щенков</div>
                                </a>
                            </div> <!-- END .knowledge-item -->
                            <div class="knowledge-item col-6 col-sm-4 col-md-3 col-xl-card" id="bx_651765591_">
                                <a href="/knowledge-base/articles/lizhetsya/index.html" class="knowledge-item-in">
                                    <div class="knowledge-item-picture"
                                        style="background-image: url('/upload/resize_cache/iblock/246/570_340_0/ugk1d1ny88v2ovjoqpe9xfb1cv9lo2hb.jpg');">
                                    </div>
                                    <div class="knowledge-item-text">Почему мой питомец лижется?</div>
                                </a>
                            </div> <!-- END .knowledge-item -->
                            <a href="/knowledge-base/articles/index.html"
                                class="knowledge-item col-12 col-sm-8 col-md-6 col-xl-card knowledge-item-picture">
                                <div class="blue-border show-more-articles">
                                    <p>Все<br>материалы<br>базы<br>знаний</p>
                                    <span class="btn-show"></span>
                                </div>
                            </a>
                        </div> <!-- END .row  -->
                    </div> <!-- END .knowledge-wrap  -->
                </div> <!-- END .articles  -->
            </div> <!-- END .block-with-border-bottom -->
        </div> <!-- END .block-bordered-btn -->
    </div> <!-- END .container.backgr-white.roundy-->
</div> <!-- END .articles-block  -->
{% endblock %}