a.deals-owl-slider {
    text-decoration: none;
}

a.deals-owl-slider h2 {
    max-width: 80%;
    max-height: 270px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.about-mission-wrap {
    padding: 41px 43px 55px;
    overflow: hidden;
    white-space: nowrap;
    transform: unset !important;
    transition: unset !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.main-address h1 {
    color: #1B1B29;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    overflow-x: hidden;
    display: inline-block;
    margin-bottom: 0;
}

.doctor-profile-video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.profile-owl-slider {
    overflow: hidden;
}

table.title-search-result td.title-search-item b {
    color: #025bff !important;
}

.btn-nav-book:hover {
    background: #025bff;
}

.services-card:hover {
    transform: translate(0, -15px) !important;
    transition: all 0.5s ease !important;
}

.footer-menu a:hover {
    text-decoration: none !important;
}

.footer-menu h4:hover {
    color: #007bff;
}

.card-doc-in:hover .card-doc-txt {
    opacity: 1;
}

.knowledge-item:hover {
    transform: translate(0, -15px) !important;
    transition: all 0.5s ease !important;
}

.main-body-header h1 {
    letter-spacing: -2px;
}

.title-search-result th {
    display: none;
}

.modal-dialog {
    overflow-y: auto !important;
    max-width: 550px !important;
}

.fired-doctor-warning {
    color: red;
    font-size: 15px;
    line-height: 1.5em;
}

.btn-nav-book {
    padding-left: 17px;
}

.detail-info-heading {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.3px;
    margin-bottom: 40px;
    margin-top: 10px;
}

.detail-info-detail-picture {
    height: 470px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.detail-info-detail-picture img {
    max-height: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 60px;
}

.detail-info-gray-container-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    
    /* or 103% */
    letter-spacing: -1px;
    max-width: 70%;
    margin-bottom: 65px;
    font-size: 36px;
    line-height: 68px;
}

.detail-info-gray-container {
    background: #F1F4F8;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 47px 50px 67px;
    margin: 110px 0px 100px 0px;
}

.detail-info-top {
    margin-bottom: 40px;
}

.detail-info-gray-container-description {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    max-width: 70%;
}

.gray-blocks-left-description {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.gray-blocks {
    margin-top: 72px;
}

.gray-block-item-heading {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    /* or 123% */
    letter-spacing: -0.5px;
    margin-bottom: 75px;
}

.gray-block-item-description {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    color: #1B1B29;
}

.gray-block-item {
    background: #F1F4F8;
    border-radius: 40px;
    padding: 30px 35px;
    margin: 0px 0px;
    margin-bottom: 25px;
    height: 100%;
    position: relative;
}

.gray-blocks-container {
    flex-wrap: wrap;
    padding: 0;
}

.gray-blocks-container>div {
    margin-bottom: 25px;
}

.gray-blocks-container .last {
    flex-grow: 1;
}

.detail-info-blue-border-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 60px 0px 60px 0px;
    border-radius: 40px;
    border: 1px dashed #0140ff;
}

.detail-info-blue-border-container-heading {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.detail-info-blue-border-container-description {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.gray-block-item-bottom {
    font-size: 13px;
    font-weight: 400;
    color: #9a9a9a;
    position: absolute;
    left: 35px;
    bottom: 18px;
}

.detail-info-detail-text {
    margin-bottom: 40px;
    margin-top: 80px;
    font-family: Inter;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
}

.detail-info-detail-text-bottom {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.card-doc-in {
    text-decoration: none;
}

.doctor-vacancy p {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}

.doctor-vacancy button {
    height: 50px;
}

body.mobailApp {
    padding-top: 0;
}
.mobailApp-detailArticle .main-body-box{
    padding-top: 80px;
}
.mobailApp-detailArticle .main-body-header > div:first-child {
    margin-bottom: 0;
}
.mobailApp-detailArticle .main-body-header.for-article{
    padding-bottom: 0;
}
.mobailApp-detailArticle .article-read {
    border: unset;
}
.mobailApp-detailArticle .article-content {
    margin-bottom: 0;
}

input.form-control[type="search"]::-webkit-search-decoration,
input.form-control[type="search"]::-webkit-search-cancel-button,
input.form-control[type="search"]::-webkit-search-results-button,
input.form-control[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.services-card {
    text-decoration: none;
    color: black;
    will-change: opacity, transform, transition;
}

.page404 p {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #1B1B29;
    margin-bottom: 55px;
}

.container.container-for-mob::after {
    content: '';
    content: unset;
    position: absolute;
    left: 100%;
    width: 100%;
    background-color: #1B1B29;
    height: 100vh;
    bottom: 0;
    z-index: 1;
    opacity: 1;
}

.slider-header {
    position: relative;
}

.slider-header .owl-carousel::after {
    content:unset;
    position: absolute;
    right: 100%;
    width: 100%;
    background-color: #1B1B29;
    height: 100vh;
    bottom: 0;
    z-index: 1;
    opacity: 1;
}

.header-owl-slider-description {
    margin: 20px 0px;
}

.doc-statement .backgr-blue {
    padding: 40px;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 38px;
    color: white;
    position: relative;
}

.quote-doctor-name {
    position: static;
    margin-top: 60px;
    margin-bottom: 40px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 24px;
    text-align: right;
}

.doctor-quote-right-bottom {
    padding-top: 40px;
    position: relative;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 44px;
    letter-spacing: -1.5px;
}

.doctor-quote-right-bottom::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 1px;
    background: white;
    top: 0px;
    left: 0px;
}

.doctor-quote-right-top + .doctor-quote-right-bottom {
    margin-top: 120px;
}

.search-select-box .bootstrap-select .dropdown-menu{
    max-height: unset !important;
    transform: unset !important;
    margin-top: 50px;
    max-height: 500px !important;
}

.faq-we-response {
    font-size: 24px;
}

.bootstrap-select .dropdown-menu li:last-child {
    padding-bottom: 30px;
}

.btn-small {
    font-size: 12px;
    padding: 14px 25px;
}

.btn-blue-no-hover {
    display: inline-block;
    vertical-align: middle;
    user-select: none;
    border-radius: 60px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: unset;
    background: linear-gradient(45deg, #0273FF 0%, #013FFF 100%);
    border: 1px solid #025bff;
    color: #fff;
    transition: all 0.3s;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    padding: 16px 25px;
}

hr {
    border: 1px solid #dfdfe1;
    margin: 0px -15px;
    display: block;
}

.service-article-image {
    margin-top: 100px;
    width: 100%;
    height: auto;
    border-radius: 40px;
    max-height: 600px;
    object-fit: cover;
}

.service-article-preview {
    max-width: 450px;
    margin-bottom: 50px;
}

.service-article-detail {
    max-width: 450px;
    margin-bottom: 110px;
    font-weight: 400;
}

.service-recomendations-list {
    margin-top: 50px;
    margin-left: -20px;
    padding: 0;
}

.service-recomendations-container {
    padding: 90px 0px;
}

.service-recomendations-list li {
    list-style: none;
    margin-bottom: 21px;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    padding: 0px 40px;
}

.service-recomendations-list li::before {
    content: '';
    width: 6px;
    height: 6px;
    background: linear-gradient(45deg, #0273FF 0%, #013FFF 100%);
    display: block;
    border-radius: 50px;
    position: absolute;
    left: 20px;
    top: 7px;
}

.preparation {
    margin-bottom: 120px;
}

.blue-dots-container {
    padding: 90px 0px;
}

.blue-dots-list {
    margin-top: 55px;
    list-style: none;
    padding: 0;
}

.blue-dots-list li {
    list-style: none;
    margin-bottom: 21px;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    padding: 0px 40px;
}

.blue-dots-list li::before {
    content: '';
    width: 6px;
    height: 6px;
    background: linear-gradient(45deg, #0273FF 0%, #013FFF 100%);
    display: block;
    border-radius: 50px;
    position: absolute;
    left: 20px;
    top: 7px;
}

.checkup-toggle-box.service-detail {
    margin: 120px auto;
    background-color: #BBBBBF;
}

.show-more-articles {
    height: 242px !important;
    min-height: unset;
    text-decoration: none;
    padding: 20px 35px;
    color: black;
}

.show-more-articles:hover {
    color: white;
}

.show-more-articles p {
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.3px;
}

.show-more-articles .btn-show {
    right: 29px;
    bottom: 23px;
}

.show-more-articles .btn-show:hover {
    background-color: white;
    background-image: url(../img/icons/right_arrow_blue.svg);
}

.doctors-blue-enroll {
    background: linear-gradient(45deg, #0273FF 0%, #013FFF 100%);
    border-radius: 40px;
    color: white;
    padding: 159px 32px;
    position: relative;
    font-weight: 600;
    font-size: 16.5833px;
    line-height: 22px;
    height: 414px;
}

.doctors-blue-enroll img {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 35px;
    top: 35px;
}

.doctors-blue-enroll .btn {
    position: absolute;
    bottom: 35px;
    left: 35px;
    background: white;
}

.doctors-blue-enroll .btn:hover {
     background: linear-gradient(45deg, #0273FF 0%, #013FFF 100%);
     color: white;
}

div.title-search-result {
    width: 100% !important;
    max-width: 100%;
    margin-top: 6px;
    border: none !important;
    max-width: 450px;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.2);
}

table.title-search-result {
    width: 100%;
}

table.title-search-result {
    width: 100% !important;
}

img.faq-comment-icon {
    margin-top: 10px;
    margin-bottom: 15px;
}

.faq-answer {
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

.sympthoms-first-image {
    background-size: cover; border-radius: 40px; background-position: center;
}

h4 {
    margin-bottom: 65px;
}

.service-article-content {
    margin-top: 80px;
}

.details-search h4 {
    margin: 0;
}

.modal-title {
    font-size: 40px;
}

.modal-body {
    padding: 30px 0px;
}

.modal .input-mb .form-group label {
    margin-bottom: 10px;
}

.modal-content {
    padding: 45px 40px 50px 40px;
}

.modal-dialog {
    max-width: calc(100% - 20px);
    margin: 15px auto 15px auto;
}

.form-control:focus {
    border: 2px solid #80bdff;
    box-shadow: unset;
}

.head-img-article {
    width: 100%;
    height: 220px;
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    max-height: 80vh;
}

.services-card img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 100%;
    width: auto;
    top: 50%;
    min-width: 100%;
    z-index: -1;
    margin: 0 auto;
    object-fit: cover;
}

.deals .background {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 100%;
    width: auto;
    top: 50%;
    min-width: 100%;
    z-index: -1;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 35px;
    object-position: top;
}

.category-services .body-inner {
    position: relative;
}

.services-search-container {
    display: flex;
    width: 100%;
    max-width: 100%;
    position: relative;
    right: 0;
    top: 0px;
    flex-shrink: 0;
    flex-grow: 1;
    z-index: 1;
}

.js-services-search-clear {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url('../img/icons/services-search-clear.svg');
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 13px;
    cursor: pointer;
}

.services-search-clear:hover {
    opacity: 0.8;
}

.services-search-input {
    appearance: none;
    border: unset;
    background: transparent;
    margin: 0px 12px;
    flex-basis: unset;
    flex-grow: 0;
    flex-shrink: 1;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    flex-shrink: 1;
    width: 100%;
}

.services-search-input-wrapper {
    background: #F1F4F8;
    border-radius: 60px;
    display: flex;
    width: auto;
    height: 50px;
    align-items: center;
    padding: 10px;
    position: relative;
    flex-wrap: nowrap;
    transition: 0.2s width ease;
    flex-grow: 1;
}



.services-search-show-results {
    background: url('../img/icons/services-search-arrow-down.svg');
    width: 30px;
    height: 30px;
    border-radius: 50%;
    flex-shrink: 0;
    flex-grow: 0;
}

.services-search-hide-results {
    background: url('../img/icons/services-search-arrow-down.svg');
    transform: rotate(180deg);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    flex-shrink: 0;
    flex-grow: 0;
}

.services-search-show-results,
.services-search-hide-results {
    opacity: 0.5
}

.services-search-show-results.active,
.services-search-hide-results.active {
    opacity: 1;
    cursor: pointer;
}



.services-search-dropdown-arrow {
    background-image: url(../img/icons/drop.svg);
    background-size: 16px;
    width: 25px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    flex-grow: 0;
}

.services-search-input-wrapper #searchclear {
    position: static;
    width: 25px;
    height: 20px;
    background-position: center;
    transform: unset;
    background-size: 10px;
    flex-shrink: 0;
    flex-grow: 0;
}

.services-search-input-wrapper #searchclear,
.services-search-dropdown-arrow
{
    display: none;
}

.services-search-container.active .services-search-input-wrapper #searchclear,
.services-search-container.active .services-search-dropdown-arrow {
    display: block;
}

.services-search-container.active .services-search-dropdown {
    display: block;
    max-height: 200px;
    overflow-y: auto;
}

.services-search-container.active .services-search-input {
    width: calc(100% - 55px);
}

.services-search-container.active .services-search-input-wrapper {
    flex-wrap: wrap;
    max-width: calc(100% - 60px);
}

.services-search-dropdown {
    flex-basis: calc(100% + 20px);
    background: #f1f4f8;
    margin: 0px -10px;
    padding-top: 30px;
    margin-top: 0px;
    display: none;
    border-radius: 0px 0px 30px 30px;
    padding-bottom: 30px;
}

.services-search-dropdown a {
    padding: 15px 24px;
    display: block;
    text-decoration: none;
    color: #1B1B29;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}

.services-search-dropdown .js-services-not-found {
    color: gray;
    pointer-events: none;
}

.services-search-dropdown a:hover {
    background: linear-gradient(45deg, #0273FF 0%, #013FFF 100%);
    color: white;
}

.services-search-container.active .services-search-clear,
.services-search-container.active .services-search-show-results,
.services-search-container.active .services-search-hide-results
{
    display: none;
}

.services-search-container.active .services-search-input-wrapper {
    border-radius: 28px 28px 0px 0px;
    flex-shrink: 1;
}

.services-search-input:focus {
    border: none;
    outline: none;
    box-shadow: unset;
}

.js-subscribe-form [name='email']:-webkit-autofill,
.js-subscribe-form [name='email']:-webkit-autofill:hover, 
.js-subscribe-form [name='email']:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #F1F4F8 inset;
  border-radius: 45px;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.ct-form .selectpicker.error + .dropdown-toggle {
    border: 1px solid rgb(236, 128, 128);
}

h1.ct-form-h1 {
    font-size: 32px;
    line-height: 34px;
}

.check-accept label {
    font-weight: 600 !important;
    font-size: 16px !important;
    padding-left: 17px;
    cursor: pointer;
}

.check-accept [type=checkbox] {
    position: absolute;
    left: 24px;
}

.check-accept [type=checkbox] + label {
    position: relative;
}

.check-accept [type=checkbox] + label::before {
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #A8A8A8;
    box-sizing: border-box;
    display: block;
    background: white;
    position: absolute;
    left: -20px;
    top: 0px;
    cursor: pointer;
}

.check-accept [type=checkbox]:checked + label::before {
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-color: transparent;
    box-sizing: border-box;
    display: block;
    background: url('../img/icons/checkbox-checked.svg');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: -20px;
    top: 0px;
}

.ct-form-wrapper {
    padding: 0px 0px;
}

.ct-form .required {
    color: #B256D2;
    font-weight: 600;
}

.ct-form .bootstrap-select .dropdown-menu li:last-child {
    padding: 0;
}

.ct-form .search-select-box .bootstrap-select > .dropdown-toggle {
    max-width: 100%;
    width: 100%;
}

.ct-form {
    padding: 40px 10px;
}

.ct-form-footer {
    margin-top: 90px;
}

@media (min-width: 1200px) {
    .ct-form {
        padding: 80px 115px;
    }
}

.ct-form .form-check {
    width: 25%;
    padding-right: 30px;
    margin-bottom: 18px;
    min-width: 300px;
}

.ct-form-wrapper .ct-success-msg{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-bottom: 50px;
}

.ct-form-wrapper form [type=submit] {
    opacity: 1;
    pointer-events: all;
}

.ct-documents .document-item-in:hover,
.ct-documents .document-item-in.loading,
.ct-documents .document-item-in {
    padding-bottom: 0 !important;
}

.ct-documents .document-item-in:hover {
    opacity: 0.8;
}

.ct-documents {
    display: flex;
    flex-wrap: wrap;
}

.ct-documents .upload-file__label {
    margin: 0;
}

.ct-documents .upload-file-btn {
    max-width: 100%;
}

.ct-radio-wrapper {
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
}
.ct-radio-wrapper label {
    font-size: 14px;
    line-height: 1.5em !important;
}

.ct-form .row {
    margin-bottom: 30px;
}

.ct-form .blue-check > label {
    margin-bottom: 10px;
    margin-top: 50px;
}

.ct-form h4 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
/* or 123% */
    letter-spacing: -0.5px;
}

.ct-form .form-group {
    margin-top: 35px;
}

.js-ct-form-date {
    font-weight: 600;
    font-size: 50px;
    line-height: 32px;
    letter-spacing: -0.5px;
    margin-bottom: 110px;
    margin-top: 30px;
}

.star-note {
    padding-left: 37px;
    position: relative;
    margin-bottom: 37px;
}

.star-note::before {
    content: '';
    background-image: url(../img/icons/purple_star.svg);
    background-size: contain;
    width: 24px;
    height: 24px;
    background-position: center center;
    position: absolute;
    left: 0px;
    top: -7px;
    background-repeat: no-repeat;
}

.ct-form .search-select-box .bootstrap-select > .dropdown-toggle {
    padding: 21px 29px 19px 21px;
    height: auto;
}

.ct-form .search-select-box .bootstrap-select .dropdown-menu {
    padding-top: 20px;
}

.ct-form .select-pickers-wrapper .dropdown-select:first-child  {
    z-index: 3;
}

.ct-form label {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
}

.ct-form textarea {
  background: #F1F4F8;
  border-radius: 25px;
  height: 70px;
  font-size: 26px;
  color: #1B1B29;
  padding: 22px 5px 22px 23px;
  border: transparent;
  color: #1B1B29;
}

.ct-form input[type="text"],
.ct-form input[type="tel"],
.ct-form input[type="email"] {
    font-size: 26px;
    font-weight: bold;
    background: #F1F4F8;
    border-radius: 25px;
    height: 70px;
    color: #1B1B29;
    padding: 22px 5px 22px 23px;
    border: transparent;
    color: #1B1B29;
}

.ct-form input[type="text"]::placeholder,
.ct-form input[type="tel"]::placeholder,
.ct-form input[type="email"]::placeholder {
    color: #B1B3BA;
}

.ct-form.submitted input[type="text"]:invalid,
.ct-form.submitted input[type="tel"]:invalid,
.ct-form.submitted input[type="email"]:invalid {
    border: 1px solid rgb(236, 128, 128);
}

.ct-form .bootstrap-select.show {
    z-index: 3;
}

.ct-form .bootstrap-select {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .ct-form input {
        font-size: 18px;
    }
}

.ct-form .form-check.check-accept {
    width: 100%;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 0px;
}

.ct-form input::-webkit-input-placeholder {
    font-size: 26px;
}
@media (max-width: 768px) {
    .ct-form input::-webkit-input-placeholder {
        font-size: 18px;
    }
}
.ct-form input:-moz-placeholder {
    font-size: 26px;
}
@media (max-width: 768px) {
    .ct-form input:-moz-placeholder {
        font-size: 18px;
    }
}
.ct-form input::-moz-placeholder {
    font-size: 26px;
}
@media (max-width: 768px) {
    .ct-form input::-moz-placeholder {
        font-size: 18px;
    }
}
.ct-form input:-ms-input-placeholder {
    font-size: 26px;
}
@media (max-width: 768px) {
    .ct-form input:-ms-input-placeholder {
        font-size: 18px;
    }
}

.ct-form .flatpickr-calendar {
    font-size: 18px;
    max-width: 340px !important;
    width: 340px !important;
    min-width: 340px !important;
    margin: unset;
    margin-top: 30px;
}


@media (max-width: 480px) {
    .ct-form .flatpickr-calendar {
        font-size: 14px;
    }
}
@media (max-width: 400px) {
    .ct-form .flatpickr-calendar {
        max-width: 100% !important;
        width: 100% !important;
        min-width: 100% !important;
    }
}

.ct-form .flatpickr-calendar,
.ct-form .flatpickr-rContainer,
.ct-form .flatpickr-days,
.ct-form .dayContainer {
width: 100%;
min-width: 100%;
max-width: 100%;
}

.ct-form .flatpickr-day {
    height: 41px;
    border-width: 2px !important;
    font-weight: 600;
    background: #F1F4F8 !important;
}
@media (max-width: 400px) {
    .ct-form .flatpickr-day {
        height: 35px;
        line-height: 35px;
    }
}

.ct-form .flatpickr-weekday {
    width: calc(14% - 6px);
    max-width: calc(14% - 6px);
    min-width: calc(14% - 6px);
    margin: 3px !important;
}

.ct-form .dayContainer > span {
    width: calc(14% - 6px);
    max-width: calc(14% - 6px);
    margin: 5px 3px;
}

.ct-form  .flatpickr-disabled {
    background: transparent !important;
}

.ct-form .flatpickr-day.selected,
.ct-form .flatpickr-day.startRange,
.ct-form .flatpickr-day.endRange,
.ct-form .flatpickr-day.selected.inRange,
.ct-form .flatpickr-day.startRange.inRange,
.ct-form .flatpickr-day.endRange.inRange,
.ct-form .flatpickr-day.selected:focus,
.ct-form .flatpickr-day.startRange:focus,
.ct-form .flatpickr-day.endRange:focus,
.ct-form .flatpickr-day.selected:hover,
.ct-form .flatpickr-day.startRange:hover,
.ct-form .flatpickr-day.endRange:hover,
.ct-form .flatpickr-day.selected.prevMonthDay,
.ct-form .flatpickr-day.startRange.prevMonthDay,
.ct-form .flatpickr-day.endRange.prevMonthDay,
.ct-form .flatpickr-day.selected.nextMonthDay,
.ct-form .flatpickr-day.startRange.nextMonthDay,
.ct-form .flatpickr-day.endRange.nextMonthDay {
    border-color: #013FFF !important;
    border-color: #013FFF !important;
    background: linear-gradient(45deg, #0273FF 0%, #013FFF 100%) !important;
    color: white;
}

.ct-form .flatpickr-current-month .flatpickr-monthDropdown-months {
    font-weight: 600;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    pointer-events: none;
    margin-top: 6px;
}

.ct-form .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
.ct-form .flatpickr-months .flatpickr-next-month.flatpickr-next-month {
    border-radius: 40px;
    position: relative;
    width: 35px;
    height: 35px;
    background: linear-gradient(123.75deg, #FAFAFA -30.52%, #D7DBE0 89.61%) !important;
}

.ct-form .flatpickr-months .flatpickr-prev-month svg,
.ct-form .flatpickr-months .flatpickr-next-month svg {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 10px;
}

.ct-form .flatpickr-months .flatpickr-prev-month:hover svg,
.ct-form .flatpickr-months .flatpickr-next-month:hover svg {
    fill: #013FFF !important;
}

.ct-form .flatpickr-current-month {
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;
    padding: 0;
    width: calc(100% - 0px);
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width: 480px) {
    .ct-form .flatpickr-current-month {
        font-size: 16px;
    }
}

.ct-form .flatpickr-weekdays {
    align-items: center;
    height: 75px;
}

.ct-form span.flatpickr-weekday {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #808087;
}

.ct-form .flatpickr-day.today,
.ct-form .flatpickr-day.inRange,
.ct-form .flatpickr-day.prevMonthDay.inRange,
.ct-form .flatpickr-day.nextMonthDay.inRange,
.ct-form .flatpickr-day.today.inRange,
.ct-form .flatpickr-day.prevMonthDay.today.inRange,
.ct-form .flatpickr-day.nextMonthDay.today.inRange,
.ct-form .flatpickr-day.prevMonthDay:hover,
.ct-form .flatpickr-day.nextMonthDay:hover,
.ct-form .flatpickr-day:focus,
.ct-form .flatpickr-day.prevMonthDay:focus,
.ct-form .flatpickr-day.nextMonthDay:focus {
    cursor: pointer;
    outline: 0;
    border-color: #013FFF !important;
    border-width: 2px;
    background-color: #F1F4F8;
    color: #013FFF;
}

.ct-form .flatpickr-day.today.selected {
    color: #ffffff;
}

.ct-form .flatpickr-day.today:hover,
.ct-form .flatpickr-day.today:focus {
    border-color: #013FFF !important;
    border-color: #013FFF !important;
    background: linear-gradient(45deg, #0273FF 0%, #013FFF 100%) !important;
}

.ct-form .flatpickr-day.flatpickr-disabled:hover,
.ct-form .flatpickr-day.flatpickr-disabled:focus {
    border: none !important;
}

.ct-form .flatpickr-day.nextMonthDay,
.ct-form .flatpickr-day.prevMonthDay {
    background-color: transparent !important;
}

.ct-form .dayContainer {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.doctors-last-item {
    padding: 41px 40px;
    overflow: hidden;
    opacity: 1 !important;
    visibility: visible !important;
    background: white;
    color: black;
    justify-content: space-between;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-radius: 45px;
    display: block;
    padding: 20px 27px;
    border-radius: 35px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100%;
    height: 490px;
    overflow: hidden;
}

.doctors-last-item span.vet_heart {
    width: 30px;
    background-image: url(../img/icons/vet_heart.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 21px;
    display: inline-block;
    margin-right: -5px;
}

.doctors-last-item h4 {
    color: black;
    margin-bottom: 20px;
}

.doctors-last-item-text {
    font-size: 23px;
    line-height: 27px;
    letter-spacing: -0.256304px;
    margin-bottom: 40px;
}

.doctors-last-item-bottom-text {
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #1B1B29;
}

.doctors-last-item button {
    display: inline-block;
    flex-grow: 0;
    width: 180px;
    padding: 18px 30px;
    font-size: 11px;
}

.flatpickr-current-month .flatpickr-monthDropdown-months:hover {
    background-color: transparent;
}

.numInputWrapper span.arrowUp {
    display: none;
}

.numInputWrapper span.arrowDown {
    display: none;
}

.flatpickr-current-month .numInputWrapper {
    width: 60px;
    text-align: center;
}

.flatpickr-current-month input.cur-year {
    text-align: center;
    font-weight: 600;
    font-size: 19px;
    pointer-events: none;
}

.header-owl-slider-description-wrapper {
    z-index: 1;
}

.bootstrap-select {
    font-size: 16px;
}

.booking .alert {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
}

.doctors-last-item .btn-blue {
    margin-top: 35px;
    font-size: 13px;
    width: auto;
}

.numInputWrapper:hover {
    background: transparent;
}

.ct-form .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.static-page {
    font-weight: 400;
}

.footer-social-links .footer-tg {
    background-image: url(../img/icons/tg.svg);
    background-size: 20px 11px;
}

.navbar-social-links .footer-tg {
    background-image: url(../img/icons/tg.svg);
    background-size: 16px 16px;
}

.social-links-contacts .footer-tg {
    background-image: url(../img/icons/tg_black.svg);
    background-size: 27px 27px;
   }

form:valid [type=submit].disabled {
    pointer-events: none;
    opacity: 0.8;
    background-color: #ebebeb;
}

@media (max-width: 480px) {
    .ct-form .flatpickr-calendar,
    .ct-form .flatpickr-rContainer,
    .ct-form .flatpickr-days {
        width: 100% !important;
    }
}

@media (min-width: 576px) {
    hr {
        margin: 0px -15px;
    }
    .flatpickr-current-month .numInputWrapper {
        display: inline-block;
    }
}

@media (min-width: 768px) {
    .head-img-article {
        height: 520px;
    }
    .ct-form-wrapper {
        padding: 0px 20px;
    }
    h1.ct-form-h1 {
        font-weight: 600;
        font-size: 66px;
        line-height: 68px;
        letter-spacing: -3px;
    }
    .services-search-container.active .services-search-input-wrapper {
        width: 320px;
    }
    .services-search-container {
        margin: 0 auto;
        justify-content: center;
    }
}

@media (min-width: 992px) {
    .main-body-header h1 {
        letter-spacing: -1px;
    }
    .gray-blocks-container .last {
        flex-basis: 100%;
        max-width: 100%;
    }
    .doc-statement .backgr-blue{
        padding: 104px 77px 180px 77px;
    }
    .services-search-container.active .services-search-input-wrapper {
        width: 420px;
    }
}


@media (min-width: 1200px) {
    .services-search-container {
        position: absolute;
        justify-content: flex-end;
    }
    .services-search-input-wrapper {
        flex-grow: 0;
    }
    .doctors-last-item .btn-blue {
        font-size: 20px;
        margin-top: 50px;
    }
    .doctors-last-item {
        min-height: 490px;
        max-height: 100vh;
        height: 800px;
        padding: 52px 68px 55px 78px;
        border-radius: 60px;
    }
    .doctors-last-item button {
        display: inline-block;
        flex-grow: 0;
        width: 230px;
        padding: 22px 30px;
    }
    .doctors-last-item span.vet_heart {
        width: 38px;
        height: 29px;
        margin-right: -3px;
    }
    .doctors-last-item-bottom-text {
        font-weight: normal;
        font-size: 19px;
        line-height: 26px;
        color: #1B1B29;
    }
    .doctors-last-item-text {
        font-size: 37px;
        line-height: 41px;
        letter-spacing: -0.396491px;
        margin-bottom: 40px;
        margin-top: 48px;
    }
    .container.container-for-mob::after,
    .slider-header .owl-carousel::after {
        content: '';
    }
    .slider-header .owl-carousel .owl-stage-outer{
        overflow:visible;
    }
    hr {
        margin: 0px -35px;
    }
    .deals .background {
        border-radius: 65px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1550px;
    }
    .doctors-last-item {
        padding: 41px 85px 55px 100px;
        border-radius: 60px;
    }
}

@media (max-width: 576px) {
    .for-doc-profile .main-body-box {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .detail-info-detail-picture {
        height: 220px;
    }
    .detail-info-detail-text {
        font-size: 14px;
        line-height: 20px;
    }
    .detail-info-heading {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.5px;
    }
    .detail-info-detail-text-bottom {
        font-size: 11px;
        line-height: 16px;
    }
    .detail-info-gray-container-title {
        max-width: 100%;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: -0.2px;
    }
    .detail-info-gray-container {
        padding: 29px 72px 29px 29px;
    }
    .detail-info-gray-container-description {
        font-size: 11px;
        line-height: 16px;
        max-width: 100%;
    }
    .gray-blocks-left-description {
        max-width: 70%;
        padding-left: 54px;
        margin-bottom: 40px;
    }
    .detail-info-blue-border-container {
        margin-bottom: 30px;
    }
    .detail-info.main-body-box {
        padding-bottom: 1px;
    }
    .gray-blocks {
        margin-top: 80px;
    }
}

@media (max-width: 1199px) {
    .articles {
        padding-top: 0;
    }
    .our-mission-wrap {
        height: auto;
        overflow: hidden;
    }
    .item-mission+.item-mission {
        margin: 10px;
    }
}

@media (max-height: 700px) {
    .doctors-last-item-bottom-text {
        display: none;
    }
}