.form-vetcity input,
.form-vetcity select,
.form-vetcity textarea {
  background: #F1F4F8;
  border-radius: 25px;
  height: 70px;
  font-size: 12px;
  color: #1B1B29;
  padding: 22px 5px 22px 23px;
  border: transparent;
  color: #1B1B29;
}
.form-vetcity input::-webkit-input-placeholder,
.form-vetcity select::-webkit-input-placeholder,
.form-vetcity textarea::-webkit-input-placeholder {
  color: #B1B3BA;
}
.form-vetcity input:-moz-placeholder,
.form-vetcity select:-moz-placeholder,
.form-vetcity textarea:-moz-placeholder {
  color: #B1B3BA;
}
.form-vetcity input::-moz-placeholder,
.form-vetcity select::-moz-placeholder,
.form-vetcity textarea::-moz-placeholder {
  color: #B1B3BA;
}
.form-vetcity input:-ms-input-placeholder,
.form-vetcity select:-ms-input-placeholder,
.form-vetcity textarea:-ms-input-placeholder {
  color: #B1B3BA;
}
.form-vetcity label {
  margin-bottom: 25px;
}
.form-vetcity input {
  font-size: 26px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .form-vetcity input {
    font-size: 18px;
  }
}
.form-vetcity input::-webkit-input-placeholder {
  font-size: 26px;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .form-vetcity input::-webkit-input-placeholder {
    font-size: 18px;
  }
}
.form-vetcity input:-moz-placeholder {
  font-size: 26px;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .form-vetcity input:-moz-placeholder {
    font-size: 18px;
  }
}
.form-vetcity input::-moz-placeholder {
  font-size: 26px;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .form-vetcity input::-moz-placeholder {
    font-size: 18px;
  }
}
.form-vetcity input:-ms-input-placeholder {
  font-size: 26px;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .form-vetcity input:-ms-input-placeholder {
    font-size: 18px;
  }
}

.flatpickr-calendar {
  font-size: 18px;
  max-width: 340px !important;
  width: 340px !important;
  min-width: 340px !important;
  margin: auto;
}
@media (max-width: 480px) {
  .flatpickr-calendar {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .flatpickr-calendar {
    max-width: 100% !important;
    width: 100% !important;
    min-width: 100% !important;
  }
}

.flatpickr-calendar,
.flatpickr-rContainer,
.flatpickr-days,
.dayContainer {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.flatpickr-day {
  height: 41px;
  border-width: 2px !important;
  font-weight: 600;
  background: #F1F4F8 !important;
}
@media (max-width: 400px) {
  .flatpickr-day {
    height: 35px;
    line-height: 35px;
  }
}

.flatpickr-weekday {
  width: calc(14% - 6px);
  max-width: calc(14% - 6px);
  min-width: calc(14% - 6px);
  margin: 3px !important;
}

.dayContainer > span {
  width: calc(14% - 6px);
  max-width: calc(14% - 6px);
  margin: 5px 3px;
}

.flatpickr-disabled {
  background: transparent !important;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  border-color: #013FFF !important;
  border-color: #013FFF !important;
  background: linear-gradient(45deg, #0273FF 0%, #013FFF 100%) !important;
}

.flatpickr-calendar {
  box-shadow: none !important;
  margin: auto;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  font-weight: 600;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
  border-radius: 40px;
  position: relative;
  width: 35px;
  height: 35px;
  background: linear-gradient(123.75deg, #FAFAFA -30.52%, #D7DBE0 89.61%) !important;
}

.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 10px;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  fill: #013FFF !important;
}

.flatpickr-current-month {
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
}
@media (max-width: 480px) {
  .flatpickr-current-month {
    font-size: 18px;
  }
}

.flatpickr-weekdays {
  align-items: center;
  height: 75px;
}

span.flatpickr-weekday {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #808087;
}

.flatpickr-day.today,
.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
  cursor: pointer;
  outline: 0;
  border-color: #013FFF !important;
  border-width: 2px;
  background-color: #F1F4F8;
  color: #013FFF;
}

.flatpickr-day.today.selected {
  color: #ffffff;
}

.flatpickr-day.today:hover,
.flatpickr-day.today:focus {
  border-color: #013FFF !important;
  border-color: #013FFF !important;
  background: linear-gradient(45deg, #0273FF 0%, #013FFF 100%) !important;
}

.flatpickr-day.flatpickr-disabled:hover,
.flatpickr-day.flatpickr-disabled:focus {
  border: none !important;
}

.flatpickr-day.nextMonthDay,
.flatpickr-day.prevMonthDay {
  background-color: transparent !important;
}

.dayContainer {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

@media (max-width: 480px) {
  .flatpickr-calendar,
.flatpickr-rContainer,
.flatpickr-days {
    width: 100% !important;
  }
}
/* */
.page404 {
  padding-bottom: 110px;
}

.page404-text {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.border-bottom-none {
  border-bottom: none;
}

.buttons-block {
  margin-bottom: 2px;
}

.upload-file-btn {
  display: flex;
  width: 250px;
  height: 55px;
  align-items: center;
  justify-content: center;
}
.upload-file__input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 0.4px;
  height: 0.4px;
}
.upload-file__label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0;
  height: 100%;
  width: 100%;
}
.upload-file__icon {
  width: 30px;
  height: auto;
  margin-right: 11px;
}
.upload-file__label .upload-file__text, .upload-file__label .upload-file__icon path {
  transition: 0.25s ease;
}
.upload-file__text, .upload-file__text_2 {
  color: #fff;
  font-size: 12px;
  max-width: 132px;
}

.upload-file-btn.btn-blue:hover {
  border: 1px solid red;
  border-color: #013FFF !important;
  background: linear-gradient(45deg, #0273FF 0%, #013FFF 100%) !important;
  border: 1px solid #025bff;
  color: #fff;
}

.btn-green {
  background-color: #22CA8D;
}

.btn-modal {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  padding: 16px 25px;
}

.icon-button {
  display: block;
  margin-right: 10px;
}
.icon-button-upload {
  width: 18px;
  height: 18px;
  background-image: url("../img/icons/upload.svg");
  background-size: cover;
}
.icon-button-loaded {
  width: 14px;
  height: 9px;
  background-image: url("../img/icons/check.svg");
  background-size: cover;
}

.icon-heart {
  width: 50px;
  height: 40px;
  background-image: url("../img/icons/vet_heart.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.w-200px {
  width: 200px;
}

.was-validated-modal-vetcity :valid ~ .valid-feedback,
.was-validated-modal-vetcity :invalid ~ .invalid-feedback {
  display: block;
  font-size: 16px;
  position: absolute;
  left: 120px;
  top: 0px;
  margin: 0px;
}
.was-validated-modal-vetcity :valid ~ .valid-feedback.without-label,
.was-validated-modal-vetcity :invalid ~ .invalid-feedback.without-label {
  top: -32px;
}
@media (max-width: 768px) {
  .was-validated-modal-vetcity :valid ~ .valid-feedback.without-label,
.was-validated-modal-vetcity :invalid ~ .invalid-feedback.without-label {
    top: -19px;
  }
}

.was-validated-test .invalid-feedback {
  color: #F14848;
}

.was-validated-test :invalid {
  border: 2px solid #F14848;
}

.select {
  display: block;
  width: 100%;
  position: relative;
  background: #F1F4F8;
  border-radius: 40px;
  height: 40px;
  font-size: 12px;
  color: #1B1B29;
  padding: 25px 5px 25px 23px;
  border: transparent;
  text-transform: uppercase;
}

.new-select {
  position: relative;
  padding: 10px 0px;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  height: 50px;
  top: -19px;
  color: #1B1B29;
}
.new-select__list {
  position: absolute;
  top: 45px;
  left: 0;
  border: 1px solid #ced4da;
  cursor: pointer;
  width: 100%;
  z-index: 2;
  background: #fff;
  -webkit-user-select: none;
          user-select: none;
  border-radius: 25px;
}
.new-select__list.on {
  display: block;
}
.new-select__item span {
  display: block;
  padding: 10px 15px;
}
.new-select:after {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  position: absolute;
  right: 9px;
  top: 14px;
  background: url("../img/icons/select-arrow-bottom.svg") no-repeat right center/cover;
  opacity: 0.6;
  transition: all 0.27s ease-in-out;
  transform: rotate(0deg);
}
.new-select.on:after {
  transform: rotate(180deg);
}

.sub-txt-appointment {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin: 10px auto 105px auto;
  max-width: 65%;
}
.sub-txt-recorded {
  font-size: 26px;
  line-height: 32px;
  font-weight: 400;
  margin: 10px auto 40px auto;
}
.sub-txt-recorded span {
  display: block;
  font-weight: 600;
}

.sub-title {
  text-align: center;
  margin-bottom: 70px;
}
.sub-title-recorded {
  border: 1px solid red;
  margin-top: 10px;
  margin-bottom: 40px;
}
.sub-title .btn {
  font-size: 18px;
  padding: 15px 25px;
}

.border-gray {
  border: 1px solid rgba(27, 27, 41, 0.3);
}

.img-wrapper {
  position: relative;
}
.img-signature {
  position: absolute;
  bottom: 0px;
  background-color: #fff;
  padding: 15px 20px;
  margin: 10px;
  border-radius: 30px;
}
.img-signature__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15px;
}
.img-signature__text {
  color: #A3A3A3;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

.time-row {
  display: flex;
}
.time-item {
  font-size: 18px;
  padding: 15px 23px;
  background: #ffffff;
  border-radius: 25px;
  text-align: center;
  margin: 5px 6px;
}
@media (max-width: 480px) {
  .time-item {
    font-size: 14px;
    padding: 10px 11px;
    margin: 5px;
  }
}
.time-item:first-child {
  margin-left: 0px;
}
.time-item:hover {
  cursor: pointer;
  color: #ffffff;
  border-color: #013FFF !important;
  background: linear-gradient(45deg, #0273FF 0%, #013FFF 100%) !important;
}
.time-taken {
  color: #868891;
}
.time-taken:hover {
  cursor: text;
  color: #868891;
  background-color: #fff !important;
  background-image: none !important;
}
.time-active {
  color: #ffffff;
  border-color: #013FFF !important;
  background: linear-gradient(45deg, #0273FF 0%, #013FFF 100%) !important;
}

.main-body-footer {
  padding: 40px 15px 50px;
  margin-left: -15px;
  margin-right: -15px;
  color: #1B1B29;
  border-top: 1px solid rgba(27, 27, 41, 0.1);
  margin-bottom: 2px;
}

@media (min-width: 768px) {
  .select-specialization,
.select-doctor {
    width: 450px;
  }
}
.select-specialization .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn),
.select-doctor .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100% !important;
}
.select-specialization .btn-light,
.select-doctor .btn-light {
  color: #A6A8AF;
  background-color: #F1F4F8;
  border-color: #F1F4F8;
}

.appointment-sidebar {
  font-size: 1rem;
}
@media (max-width: 768px) {
  .appointment-sidebar {
    margin-bottom: 40px;
  }
}
.appointment-sidebar label {
  font-weight: 500;
}
.appointment-sidebar .list-group-item {
  background-color: transparent;
  padding: 40px;
}
@media (max-width: 768px) {
  .appointment-sidebar .list-group-item {
    padding: 20px;
  }
}
.appointment-sidebar .list-group-item-flatpickr {
  padding-left: 0px;
  padding-right: 0px;
}
.appointment-sidebar .dropdown-select {
  width: 100%;
}
.appointment-sidebar .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}
.appointment-sidebar .btn-light {
  background: #F1F4F8;
  border-color: #F1F4F8;
}

.blue-check .form-check {
  padding-left: 0;
}
.blue-check input[type=checkbox]:checked,
.blue-check input[type=checkbox]:not(:checked),
.blue-check input[type=radio]:checked,
.blue-check input[type=radio]:not(:checked) {
  position: absolute;
  left: 30px;
}
.blue-check input[type=checkbox]:checked + label,
.blue-check input[type=checkbox]:not(:checked) + label,
.blue-check input[type=radio]:checked + label,
.blue-check input[type=radio]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 50px;
  line-height: 34px;
  cursor: pointer;
}
.blue-check input[type=checkbox]:checked + label:before,
.blue-check input[type=checkbox]:not(:checked) + label:before,
.blue-check input[type=radio]:checked + label:before,
.blue-check input[type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: -7px;
  width: 34px;
  height: 34px;
  border: 1px solid #F1F4F8;
  background-color: #F1F4F8;
}
.blue-check .flatpickr-day input[type=checkbox]:checked + label:before,
.blue-check input[type=checkbox]:not(:checked) + label:before {
  border-radius: 2px;
}
.blue-check input[type=radio]:checked + label:before,
.blue-check input[type=radio]:not(:checked) + label:before {
  border-radius: 100%;
}
.blue-check input[type=checkbox]:checked + label:after,
.blue-check input[type=checkbox]:not(:checked) + label:after,
.blue-check input[type=radio]:checked + label:after,
.blue-check input[type=radio]:not(:checked) + label:after {
  content: "";
  position: absolute;
  transition: all 0.2s ease;
}
.blue-check input[type=checkbox]:checked + label:after,
.blue-check input[type=checkbox]:not(:checked) + label:after {
  left: 3px;
  top: 4px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 4px solid #e145a3;
  border-bottom: 4px solid #e145a3;
  transform: rotate(-45deg);
}
.blue-check input[type=radio]:checked + label:after,
.blue-check input[type=radio]:not(:checked) + label:after {
  left: 9px;
  top: 2px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border-color: #013FFF !important;
  background: linear-gradient(45deg, #0273FF 0%, #013FFF 100%) !important;
}
.blue-check input[type=checkbox]:not(:checked) + label:after,
.blue-check input[type=radio]:not(:checked) + label:after {
  opacity: 0;
}
.blue-check input[type=checkbox]:checked + label:after,
.blue-check input[type=radio]:checked + label:after {
  opacity: 1;
}

.appointment_card {
  padding: 40px 45px;
}
@media (max-width: 1199px) {
  .appointment_card {
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  .appointment_card {
    padding: 20px;
    margin-top: 15px;
  }
}
.appointment_card .img-wrapper {
  max-width: 270px;
  margin: auto;
}
.appointment_title {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 18px;
  margin-bottom: 30px;
}
.appointment_doctor {
  margin-right: 30px;
}
@media (max-width: 1199px) {
  .appointment_doctor {
    margin-bottom: 40px;
  }
}
.appointment_doctor .card-doc-in {
  max-width: 250px;
  min-height: 421px;
}
@media (max-width: 480px) {
  .appointment_time .time-table {
    width: 280px;
    margin: auto;
  }
}
.appointment_cost {
  margin-top: 65px;
}
@media (max-width: 480px) {
  .appointment_cost {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
.appointment_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 480px) {
  .appointment_info {
    flex-direction: column;
  }
}

.price-block {
  display: flex;
  flex-direction: column;
}
@media (max-width: 480px) {
  .price-block {
    width: 100%;
    margin-bottom: 40px;
  }
}
.price-block__text {
  font-size: 14px;
  font-weight: normal;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price-block__cost {
  white-space: nowrap;
  width: 50%;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  color: #1B1B29;
}

.user {
  display: flex;
}
.user_avatar {
  width: 67px;
  height: 67px;
  margin-right: 25px;
}
.user_avatar img {
  border-radius: 50px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.user_title {
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -0.5px;
}

.data-time-info {
  align-items: flex-end;
  margin-bottom: 30px;
}
.data-time-info .your-doctor {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.data-time-info .time-recorded-header {
  letter-spacing: -8px;
  font-weight: bold;
}
@media (max-width: 991px) {
  .data-time-info .time-recorded-header {
    letter-spacing: -4px;
  }
}

.opacity-1 {
  opacity: 1 !important;
}

.mb-85px {
  margin-bottom: 85px !important;
}

.mb-60px {
  margin-bottom: 60px !important;
}

.maxwidth1054px {
  max-width: 1054px;
}

.letter-spacing-8px {
  letter-spacing: -8px;
}

.mlr-15px {
  margin-left: -15px !important;
  margin-right: -15px !important;
}

.w240px {
  width: 240px;
}

.roundy40 {
  border-radius: 40px;
}

.line {
  border-top: 1px solid red;
  width: 100%;
}

.border-no {
  border: none;
}

.btn-blue-gradient, .btn-gray-gradient {
  font-size: 12px;
  font-weight: 600;
  padding: 15px 25px;
  border-radius: 60px;
}
.btn-blue-gradient {
  color: #fff;
  border-color: #013FFF !important;
  background: linear-gradient(45deg, #0273FF 0%, #013FFF 100%) !important;
}
.btn-blue-gradient:hover {
  color: #fff;
}
.btn-gray-gradient {
  background: linear-gradient(123.75deg, #FAFAFA -30.52%, #D7DBE0 89.61%) !important;
}
.btn-gray-gradient:hover {
  background: linear-gradient(123.75deg, #FAFAFA -30.52%, #D7DBE0 89.61%) !important;
}

.search-select-box__appointment .bootstrap-select > .dropdown-toggle {
  width: 100%;
}
.search-select-box__appointment .bootstrap-select .dropdown-menu {
  top: -18px !important;
  z-index: 10;
  padding-top: 18px;
  padding-bottom: 0;
}