{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- START .main-body -->
<div class="container backgr-white roundy">
    <div class="main-body-header no-border">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column flex-md-row justify-content-between w-100">
                <a href="/" class="logo-main"></a>
                <nav aria-label="breadcrumb" class="d-none d-xl-block mx-auto">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">О нас</li>
                    </ol>
                </nav>
            </div>
            <a href="javascript:void(0);" class="hamburger"></a>
        </div>
        <h1 class="text-center">О ветеринарной<br>клинике</h1>
        <div class="sub-txt text-center">
            Мы — современный многопрофильный ветеринарный госпиталь с полным спектром услуг:<br>от диагностики и лечения
            до медицинского сопровождения домашних питомцев разного вида,<br>веса и возраста. </div>
    </div> <!-- END .main-body-header  -->
</div> <!-- .container -->
</div> <!-- .main-body -->

<div class="about-mission">
    <!-- START .about-mission -->
    <div class="container container-for-mob d-md-flex justify-content-between">
        <div class="deals text-white d-md-flex flex-md-row">
            <div class="owl-carousel owl-theme">
                <div class="deals-owl-slider roundy d-xl-flex flex-xl-column justify-content-between"
                    style="background-image: url({% static '/upload/resize_cache/iblock/9c7/1000_1000_0/p62sohmgag9fuv2jbkytsik4i2lr0b8f.webp' %});">
                </div>
                <div class="deals-owl-slider roundy d-xl-flex flex-xl-column justify-content-between"
                    style="background-image: url(/upload/resize_cache/iblock/400/1000_1000_0/f3ijnoab736kzt57no1ngdtu1dfnp178.webp);">
                </div>
                <div class="deals-owl-slider roundy d-xl-flex flex-xl-column justify-content-between"
                    style="background-image: url(/upload/resize_cache/iblock/c5c/1000_1000_0/24rht9fouteiwkb060xlk8b8osz0i0tn.webp);">
                </div>
                <div class="deals-owl-slider roundy d-xl-flex flex-xl-column justify-content-between"
                    style="background-image: url(/upload/resize_cache/iblock/9d3/1000_1000_0/6c05qvyo66lfl2rv1fan5z7mbl5iw4m0.webp);">
                </div>
            </div>
        </div>
        <div
            class="team about-mission-wrap roundy d-xl-flex flex-xl-column justify-content-xl-stretch align-items-xl-stretch text-black d-xl-flex flex-xl-column justify-content-between">
            <h4 class="text-center">Наша миссия</h4>
            <div class="about-mission-text">
                Мы стремимся<br>
                обеспечивать<br>
                высокий уровень<br>
                профессиональной<br>
                ветеринарной<br>
                помощи <img src="{% static '/templates/vetcity/img/icons/vet_heart.svg' %}" alt=""> </div>
        </div> <!-- END .about-mission-wrap -->
    </div> <!-- END .container.container-for-mob -->
</div> <!-- END .about-mission -->

<div class="about-principles">
    <!-- START .virtual-tour-wrap -->
    <div class="container container-for-mob backgr-white roundy justify-content-between">
        <div class="row">
            <div class="about-principles-title col-12 col-md-6 col-xl-3">
                <h4>Наши приципы</h4>
            </div> <!-- END .about-principles-title -->
            <div class="about-principles-item col-12 col-md-6 col-xl-3">
                <div class="about-principles-item-in d-flex flex-column justify-content-between">
                    <h4 class="text-nowrap text-truncate">Забота</h4>
                    <div class="about-principles-item-text">Мы внимательны к животным и людям и искренне хотим помочь.
                        Мы считаем, что лечение должно проходить без лишнего стресса и создаем условия для того, чтобы
                        всем было комфортно.</div>
                </div> <!-- END .about-principles-item-in -->
            </div> <!-- END .about-principles-item -->
            <div class="about-principles-item col-12 col-md-6 col-xl-3">
                <div class="about-principles-item-in d-flex flex-column justify-content-between">
                    <h4 class="text-nowrap text-truncate">Ответственность</h4>
                    <div class="about-principles-item-text">Мы принимаем взвешенные решения, учитывая потребности наших
                        пациентов. Мы готовы к сложным ситуациям и нестандартным медицинским случаям. Мы отвечаем за
                        каждую процедуру и рекомендацию.</div>
                </div> <!-- END .about-principles-item-in -->
            </div> <!-- END .about-principles-item -->
            <div class="about-principles-item col-12 col-md-6 col-xl-3">
                <div class="about-principles-item-in d-flex flex-column justify-content-between">
                    <h4 class="text-nowrap text-truncate">Профессионализм</h4>
                    <div class="about-principles-item-text">Наши сотрудники досконально знают свое дело, увлечены
                        профессией и постоянно совершенствуются в ней.</div>
                </div> <!-- END .about-principles-item-in -->
            </div> <!-- END .about-principles-item -->
        </div> <!--  END .row -->
    </div> <!-- END .container -->
</div> <!-- END .about-principles -->


<div class="about-equipment-wrap">
    <!-- START .about-equipment-wrap -->
    <div class="container container-for-mob d-md-flex">
        <div class="deals text-white d-md-flex flex-md-row">
            <div class="owl-carousel owl-theme">
                <div class="deals-owl-slider roundy d-flex flex-column justify-content-end"
                    style="background-image: url(/upload/resize_cache/iblock/604/1000_1000_0/1zffs3mr8crdxcyh3nkdepb7q6wche5v.png);">
                    <div class="deals-white-container">
                        <div class="equipment-text-1">Новейшее оборудование</div>
                        <div class="equipment-text-2"> Компьютерный томограф GE Revolution ACT</div>
                        <div class="equipment-text-3"></div>
                    </div>
                </div>
                <div class="deals-owl-slider roundy d-flex flex-column justify-content-end"
                    style="background-image: url(/upload/resize_cache/iblock/35e/1000_1000_0/k0whzkv7ivif8sks0t6y6e1wpfk7yzvr.png);">
                    <div class="deals-white-container">
                        <div class="equipment-text-1">Новейшее оборудование</div>
                        <div class="equipment-text-2">Экспертная эхокардиография GE Vivid E90</div>
                        <div class="equipment-text-3"></div>
                    </div>
                </div>
                <div class="deals-owl-slider roundy d-flex flex-column justify-content-end"
                    style="background-image: url(/upload/resize_cache/iblock/c51/1000_1000_0/1bdefyyr9jiufxah02zpcfkht15horeh.jpg);">
                    <div class="deals-white-container">
                        <div class="equipment-text-1">Новейшее оборудование</div>
                        <div class="equipment-text-2"> Рентген аппарат Examion X-DR Static Classic</div>
                        <div class="equipment-text-3"></div>
                    </div>
                </div>
                <div class="deals-owl-slider roundy d-flex flex-column justify-content-end"
                    style="background-image: url(/upload/resize_cache/iblock/5b2/1000_1000_0/o0zsydjnj0c55auvivk7m7b41xivsekj.jpg);">
                    <div class="deals-white-container">
                        <div class="equipment-text-1">Новейшее оборудование</div>
                        <div class="equipment-text-2">С-дуга экспертного класса GE OEC Elite II </div>
                        <div class="equipment-text-3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-doctors roundy d-flex flex-column justify-content-end align-items-stretch">
            <div class="about-doctors-text">
                <div class="about-doctors-text-1">Врачи и специалисты высочайшей квалификации</div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="about-doctors-text-2 d-none d-xl-block">Наши врачи готовы оказать пациентам качественную
                        и своевременную помощь.</div>
                    <a href="/services" class="btn-about-us backgr-blue text-white">Подробнее</a>
                </div>
            </div> <!-- . -->
        </div> <!-- END .about-doctors -->
    </div> <!-- END .container.container-for-mob -->
</div> <!-- END .about-equipment-wrap -->

<div class="our-mission">
    <!-- START .our-mission -->
    <div class="container backgr-blue d-flex flex-column justify-content-between">
        <div>
            <h4 class="text-center text-white">
                Результат, к которому<br>
                мы стремимся
            </h4>
            <h2 class="text-right text-white">
                — здоровый<br>
                питомец<br>
                и довольный<br>
                хозяин
            </h2>
        </div>
        <div class="heart-plus heart-top d-none d-xl-block text-white">+1</div>
        <div class="heart-plus heart-middle d-none d-xl-block text-white">+1</div>
        <div class="heart-plus heart-bottom text-white">+1</div>
        <div class="our-mission-wrap owl-carousel"
            data-responsive='{"0":{"items":1},"500":{"items":2},"768":{"items":3},"1000":{"items":4},"1200":{"items":5}}'
            data-nav="false" data-margin="20">
            <div class="item-mission backgr-white d-flex flex-column justify-content-between">
                <div class="item-mission-icon"
                    style="background-image: url('/upload/resize_cache/iblock/74a/300_200_0/6t6p52huq5qp2phd5kd3okg3sbkmni03.png');">
                </div>
                <div class="item-txt">
                    Одно из крупнейших хирургических отделений в Москве </div>
            </div>
            <div class="item-mission backgr-white d-flex flex-column justify-content-between">
                <div class="item-mission-icon"
                    style="background-image: url('/upload/resize_cache/iblock/9b0/300_200_0/yqs5819ilouwzixdt6w2fpq0y9hmd8xv.png');">
                </div>
                <div class="item-txt">
                    Приемное терапевтическое отделение </div>
            </div>
            <div class="item-mission backgr-white d-flex flex-column justify-content-between">
                <div class="item-mission-icon"
                    style="background-image: url('/upload/resize_cache/iblock/d65/300_200_0/2fepgt50ejrluqqydamt7cpaa4ismoer.png');">
                </div>
                <div class="item-txt">
                    Реанимационное отделение <br>
                    и стационар </div>
            </div>
            <div class="item-mission backgr-white d-flex flex-column justify-content-between">
                <div class="item-mission-icon"
                    style="background-image: url('/upload/resize_cache/iblock/1d9/300_200_0/toq2c9gy30pa5hojqhpnvabjkdfqkall.png');">
                </div>
                <div class="item-txt">
                    Круглосуточный<br> кабинет УЗИ, КТ<br> и рентген </div>
            </div>
            <div class="item-mission backgr-white d-flex flex-column justify-content-between">
                <div class="item-mission-icon"
                    style="background-image: url('/upload/resize_cache/iblock/2ed/300_200_0/tbdlmzl7vvzcsqumymwn3xsqyf2sssyt.png');">
                </div>
                <div class="item-txt">
                    Работаем круглосуточно, без праздников и выходных </div>
            </div>
        </div>
    </div> <!-- RND .container.backgr-blue-->
</div> <!-- RND .our-mission -->

<div class="about-founders">
    <!-- START .about-founders -->
    <div class="container container-for-mob backgr-white roundy">
        <h4 class="text-center">Основатели</h4>
        <div class="d-md-flex justify-content-md-between">
            <div class="founder-item founder-1">
                <div class="founder-data">
                    <div class="founder-name"><span style="color: #262626;">Сергей</span><br>
                        <span style="color: #262626;">
                            Пономаренко</span><br>
                    </div>
                    <div class="founder-text"><span style="color: #000000;">Управляющий партнер</span><br>
                        <span style="color: #000000;">
                            и сооснователь Vetcity</span>
                    </div>
                </div>
                <div class="owl-carousel owl-theme">
                    <div class="deals-owl-slider white roundy d-flex flex-column justify-content-start"
                        style="background-image: url('/upload/resize_cache/iblock/b7d/1000_1000_0/x98ibga1azu5tb2vgwmpclbrv31u2oo3.jpeg');">
                    </div>
                </div>
            </div>
            <div class="founder-item founder-1">
                <div class="founder-data">
                    <div class="founder-name"><span style="color: #262626;">Линда</span><br>
                        <span style="color: #262626;"> </span><span style="color: #262626;">
                            Арсланова</span><br>
                    </div>
                    <div class="founder-text"><span style="color: #000000;">Управляющий партнер</span><br>
                        <span style="color: #000000;">
                            и сооснователь Vetcity</span>
                    </div>
                </div>
                <div class="owl-carousel owl-theme">
                    <div class="deals-owl-slider white roundy d-flex flex-column justify-content-start"
                        style="background-image: url('/upload/resize_cache/iblock/354/1000_1000_0/44rd4vyhpo1h4q22lpfz10xi85pj27da.jpeg');">
                    </div>
                </div>
            </div>
        </div> <!-- END .d-md-flex -->
    </div> <!-- END .container -->
</div> <!-- END .about-founders -->

<div class="about-documents">
    <!-- START .about-documents -->
    <div class="container container-for-mob backgr-white roundy">
        <h4 class="text-center">Документы</h4>
        <div class="row">
            <div class="document-item document-downloaded col-xl-card d-xl-flex d-none d-xl-block"></div>
            <div class="document-item col-6 col-md-4 col-lg-3 col-xl-card d-flex">
                <a download target="_blank" href="/upload/iblock/9b6/judzjq4rc3gtsyh6q6ghaccggl3nusq7.pdf"
                    class="document-item-in d-flex flex-column justify-content-between">
                    <div class="document-title">Договор оказания платных ветеринарных услуг Vetcity</div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="document-size">0.34 Mb</div>
                        <div class="download-icon"></div>
                    </div>
                    <div class="document-load"></div>
                </a> <!-- END .document-item-in -->
            </div> <!-- END .document-item -->
            <div class="document-item col-6 col-md-4 col-lg-3 col-xl-card d-flex">
                <a download target="_blank" href="/upload/iblock/1bf/hb7nrqz69iwrbs22pmo7r7tjpkpp8n5t.pdf"
                    class="document-item-in d-flex flex-column justify-content-between">
                    <div class="document-title">Условия обработки персональных данных в Vetcity</div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="document-size">0.23 Mb</div>
                        <div class="download-icon"></div>
                    </div>
                    <div class="document-load"></div>
                </a> <!-- END .document-item-in -->
            </div> <!-- END .document-item -->
            <div class="document-item document-downloaded col-xl-card d-xl-flex d-none d-xl-block"></div>
            <div class="document-item document-downloaded col-xl-card d-xl-flex d-none d-xl-block"></div>
            <div class="document-item col-6 col-md-4 col-lg-3 col-xl-card d-flex">
                <a download target="_blank" href="/upload/iblock/f3c/zav8cy135l7bzg11beyg7w33wpr1rxkg.pdf"
                    class="document-item-in d-flex flex-column justify-content-between">
                    <div class="document-title">Правила оказания ветеринарных услуг Vetcity</div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="document-size">0.32 Mb</div>
                        <div class="download-icon"></div>
                    </div>
                    <div class="document-load"></div>
                </a> <!-- END .document-item-in -->
            </div> <!-- END .document-item -->
            <div class="document-item document-downloaded col-xl-card d-xl-flex d-none d-xl-block"></div>
            <div class="document-item col-6 col-md-4 col-lg-3 col-xl-card d-flex">
                <a download target="_blank" href="/upload/iblock/dae/pjryuv8y4mkn2jr2lug5rwjrcbj8048y.pdf"
                    class="document-item-in d-flex flex-column justify-content-between">
                    <div class="document-title">Публичная оферта о заключении договора дистанционных консультационных
                        услуг Vetcity (онлайн-консультирование)</div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="document-size">0.22 Mb</div>
                        <div class="download-icon"></div>
                    </div>
                    <div class="document-load"></div>
                </a> <!-- END .document-item-in -->
            </div> <!-- END .document-item -->
            <div class="document-item col-6 col-md-4 col-lg-3 col-xl-card d-flex">
                <a download target="_blank" href="/upload/iblock/b36/n0nmoxhdjm1p731eaztu2iz4gk84d1hu.pdf"
                    class="document-item-in d-flex flex-column justify-content-between">
                    <div class="document-title">Правила оказания дистанционных консультационных услуг Vetcity (онлайн
                        консультирование)</div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="document-size">0.21 Mb</div>
                        <div class="download-icon"></div>
                    </div>
                    <div class="document-load"></div>
                </a> <!-- END .document-item-in -->
            </div> <!-- END .document-item -->
        </div> <!-- END .row -->
    </div> <!-- END .container -->
</div> <!-- END .about-documents -->
{% endblock %}