{% load static %}
<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#1B1B29" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#1B1B29" media="(prefers-color-scheme: dark)">

    <title>Круглосуточная ветеринарная клиника Vet Care</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="description"
        content="Наша ветеринарная клиника оказывает круглосуточную помощь в Москве. Мы гарантируем заботу и бережное отношение к каждому питомцу!" />
    <link href="{% static '/templates/vetcity/css/jquery.fancybox.min.css%3F162694166212795.css' %}" type="text/css"
        data-template-style="true" rel="stylesheet" />
    <link href="{% static '/templates/vetcity/css/bootstrap.min.css%3F1626941662161415.css' %}" type="text/css"
        data-template-style="true" rel="stylesheet" />
    <link href="{% static '/templates/vetcity/css/owl.carousel.min.css%3F16269416623356.css' %}" type="text/css"
        data-template-style="true" rel="stylesheet" />
    <link href="{% static '/templates/vetcity/css/owl.theme.default.min.css%3F16269416621018.css' %}" type="text/css"
        data-template-style="true" rel="stylesheet" />
    <link href="{% static '/templates/vetcity/css/main.css' %}" type="text/css" data-template-style="true"
        rel="stylesheet" />
    <link href="{% static '/templates/vetcity/css/bootstrap-select.min.css%3F162694166211832.css' %}" type="text/css"
        data-template-style="true" rel="stylesheet" />
    <link href="{% static '/templates/vetcity/css/modal-window.css%3F16317782243928.css' %}" type="text/css"
        data-template-style="true" rel="stylesheet" />
    <link href="{% static '/templates/vetcity/css/style_secondary.css%3F163177822419507.css' %}" type="text/css"
        data-template-style="true" rel="stylesheet" />
    <link href="{% static '/templates/vetcity/css/custom.css%3F164845239236922.css' %}" type="text/css"
        data-template-style="true" rel="stylesheet" />
    <link href="{% static '/templates/.default/components/bitrix/menu/top/style.css%3F1628592705625.css' %}"
        type="text/css" data-template-style="true" rel="stylesheet" />
    <link
        href="{% static '/templates/.default/components/bitrix/search.title/.default/style.css%3F16285927052108.css' %}"
        type="text/css" data-template-style="true" rel="stylesheet" />
    <link href="{% static '/templates/.default/components/bitrix/menu/footer/style.css%3F1628592705625.css' %}"
        type="text/css" data-template-style="true" rel="stylesheet" />
    <link rel="preload" as="image"
        href="{% static '/upload/resize_cache/iblock/775/1000_1000_0/bah9epwka7ejnhct8aw2zuder1ge6ezo.webp' %}" />
    <link rel="preload" as="image"
        href="{% static '/upload/resize_cache/iblock/c5a/1000_1000_0/kkefkez9tj24h9cwc4mcpgpeea41x0rw.webp' %}" />
    <link rel="preload" as="image"
        href="{% static '/upload/resize_cache/iblock/c5a/1000_1000_0/kkefkez9tj24h9cwc4mcpgpeea41x0rw.webp' %}" />
    <link rel="preload" as="image"
        href="{% static '/upload/resize_cache/iblock/180/1000_1000_0/p3hqzqtoivgmm1ez2rpw0zes26z204fg.webp' %}" />

    <div class="has-overflow-hidden">
        <div class="main-nav">
            <!-- START .main-nav-->
            <div class="nav-container d-xl-flex flex-xl-column">
                <div class="nav-in order-xl-2 navbar-list">
                    <a href="/" class="logo"></a>
                    <div class="d-none d-xl-block head-navbar">Меню</div>
                    <div class="main-nav-items">

                        <ul class="list-unstyled">
                            <div class="navbar-social-links">

                                <a target="_blank" href="https://vk.com/alicevet" class="footer-vk"></a>
                                <a target="_blank" href="https://t.me/alicevet" class="footer-tg"></a>
                            </div>
                            <li class="item-left-outside"><a href="/" class="selected">Главная</a></li>

                            <li><a href="/about">О нашей клинике</a></li>
                            <li><a href="/services">Услуги</a></li>
                            <li><a href="/doctors">Наши специалисты</a></li>
                            <li><a href="/contacts">Контакты</a></li>
                        </ul>
                    </div> <!-- END .main-nav-items -->
                </div> <!-- END .nav-in -->
                <div class="order-xl-1 navbar-contacts d-xl-flex">
                    <div class="nav-in">
                        <a href="tel:+79651186743" class="main-nav-contact">
                            +7 (965) 118-67-43 </a>
                    </div>
                    <div class="nav-in">
                        <a href="/contacts" class="main-nav-address">
                            Москва, улица Лесная, дом 3 </a>
                    </div>
                </div>
                <div class="nav-in-bottom">
                    <div class="main-nav-booking text-black d-flex justify-content-between flex-xl-column"
                        style="background-color: #e8e3df">
                        <div>Высокопроффесиональная<br>
                            ветеринарная помощь<br>
                            круглосуточно
                        </div> <a href="/login#calltouch"
                            class="btn btn-blue align-self-end align-self-xl-start js-btn-callback">Записаться на
                            прием</a>
                    </div> <!-- END .main-nav-booking -->
                </div> <!-- END .nav-in-bottom -->
            </div> <!-- END .container -->
        </div> <!-- END .main-nav-->

        <div class="navbar" id="fixed-menu">
            <!-- START .navbar -->
            <div class="container navbar-container">
                <div class="d-flex justify-content-between navbar-in">

                    <div id="title-search" class="d-flex justify-content-between">
                        <form action="https://vet.city/search/" class="form-inline position-relative">
                            <input id="title-search-input" class="form-control" name="q" type="text" autocomplete="off"
                                placeholder="Поиск" aria-label="Search" onfocus="startFocus()" onblur="stopFocus()">
                            <button type="submit" class="submit"></button>
                        </form>
                        <input name="s" type="hidden" value="Поиск" />

                        <a class="btn btn-nav-book text-white js-btn-callback" href="/login#calltouch">Запись на прием</a>
                        <a class="btn btn-nav-book text-white js-btn-callback" href="/login#calltouch">Вход в личный
                            кабинет</a>
                    </div>


                    <div class="d-block d-xl-none">
                        <a href="tel:+7 (965) 118-67-43" class="btn btn-blue btn-mob-call">Позвонить администратору</a>
                    </div>
                    <div class="d-none d-xl-block text-white d-xl-flex align-items-xl-center">
                        <div class="nav-non-stop">
                            Круглосуточно, без выходных </div>
                        <div><a href="tel:+79651186743" class="nav-phone">
                                +7 (965) 118-67-43 </a></div>
                        <div><a href="/contacts" class="nav-address">
                                Москва, улица Лесная, дом 3 </a></div>
                    </div>
                </div> <!-- END .navbar-in -->
            </div> <!-- END.container -->
        </div> <!-- END .navbar -->
        {% block content %}
        {% endblock %}
        <footer>
            <!-- START footer -->
            <div class="container smaller-container text-white">
                <div class="footer-top">
                    <div class="row">
                        <div class="col-12 col-xl-7">
                            <div class="row">
                                <div class="footer-menu col-12 col-md-6 order-md-2">

                                    <ul class="list-unstyled">

                                        <li class="text-center text-md-left"><a href="/" class="selected">
                                                <h4>Главная</h4>
                                            </a></li>

                                        <li class="text-center text-md-left"><a href="/about">
                                                <h4>О нашей клинике</h4>
                                            </a></li>

                                        <li class="text-center text-md-left"><a href="/services">
                                                <h4>Услуги</h4>
                                            </a></li>

                                        <li class="text-center text-md-left"><a href="/doctors">
                                                <h4>Наши специалисты</h4>
                                            </a></li>

                                        <li class="text-center text-md-left"><a href="/contacts">
                                                <h4>Контакты</h4>
                                            </a></li>


                                    </ul>
                                </div>
                                <div class="footer-contacts col-12 col-md-6 order-md-1">
                                    <div class="footer-heart d-none d-md-block"></div>
                                    <div class="footer-address">
                                        <div class="row footer-contact">
                                            <div class="col-6 col-md-12">
                                                <div class="text-grey">Адрес:</div>
                                                <div>
                                                    <a href="/contacts">Москва, улица Лесная, дом 3</a>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-12">
                                                <div class="text-grey">Телефон:</div>
                                                <div><a href="tel:+79651186743">
                                                        +7 (965) 118-67-43</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center">
                                            <div class="non-stop"></div>
                                            <div>
                                                Работаем круглосуточно,<br>
                                                без выходных
                                            </div>
                                        </div>
                                    </div> <!-- END .footer-address -->
                                </div> <!-- END .footer-contacts -->
                            </div> <!-- END .row -->
                        </div> <!-- END .col-12.col-xl-7 -->
                        <div
                            class="footer-connect col-12 col-xl-5 d-xl-flex justify-content-xl-between align-items-xl-end flex-xl-column">
                            <div class="footer-subscribe">
                                <div class="form-subscribe">
                                    <div class="form-subscribe js-subscribe-container">
                                        <h4 class="text-black">Подпишитесь на нашу<br> рассылку:</h4>
                                        <form class="js-subscribe-form" action='https://vet.city/ajax/subscribe.php'>
                                            <input type="hidden" name="action" value="subscribe">
                                            <input type="hidden" name="mailingListId" value="1" />
                                            <div class="form-group d-flex">
                                                <input type="email" name="email" value="" class="form-control"
                                                    placeholder="Ваш email" required>
                                                <span class="form-group-btn">
                                                    <button class="btn btn-blue" name="OK" type="submit"
                                                        value="">Подписаться</button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-social d-flex justify-content-between align-items-center">
                                <div class="footer-heart d-block d-md-none"></div>
                                <div class="footer-social-links">

                                    <a href="https://vk.com/alicevet" target="_blank" class="footer-vk"></a>
                                    <a href="https://t.me/alicevet" target="_blank" class="footer-tg"></a>
                                </div>
                            </div> <!-- END .footer-social -->
                        </div> <!-- END .footer-connect -->
                    </div> <!-- END .row -->
                </div> <!-- END .footer-top -->
                <!--<div class="footer-bottom d-flex flex-column flex-lg-row justify-content-lg-between">
                <a href="https://skam.team" target="_blank" class="design text-uppercase text-right order-lg-2">designed
                    by</a>
                <div class="copyright text-center text-lg-left order-lg-1">
                    2022&nbsp;© ООО «Вет Сити Центр» </div>
            </div> END .footer-bottom -->
            </div> <!-- END .container.smaller-container -->
        </footer> <!-- END footer -->
    </div>
    <!-- To detect which environment we are in -->
    <div id="environment-xs" class="d-sm-none"></div>
    <div id="environment-sm" class="d-none d-sm-block d-md-none"></div>
    <div id="environment-md" class="d-none d-md-block d-lg-none"></div>
    <div id="environment-lg" class="d-none d-lg-block d-xl-none"></div>
    <div id="environment-xl" class="d-none d-xl-block"></div>


    <div id="c625c42e7e14b3">
        <div class="modal fade js-callback-modal" tab/="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="/" class="text-left needs-validation js-calltouch-form" novalidate>
                        <div class="modal-header">
                            <div class="modal-title">Форма обратного звонка</div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger js-error" style="display: none;"></div>
                            <div class="input-mb">
                                <div class="form-group position-relative">
                                    <label>Телефон</label>
                                    <input type="tel" class="form-control js-phone" placeholder="Телефон" required>
                                </div>
                            </div>
                            <div class="input-mb">
                                <div class="form-group position-relative">
                                    <label>Ваше имя</label>
                                    <input type="text" class="form-control js-name" placeholder="Ваше имя" required>
                                </div>
                            </div>
                            <div class="form-check check-accept">
                                <input class="form-check-input" type="checkbox" name="ACCEPT_CALLTOUCH" value="Y"
                                    id="ACCEPT_CALLTOUCH" required="required">
                                <label class="form-check-label" for="ACCEPT_CALLTOUCH">Я согласен с <a
                                        href="{% static '/upload/iblock/1bf/hb7nrqz69iwrbs22pmo7r7tjpkpp8n5t.pdf' %}"
                                        target="_blank">условиями обработки персональных данных</a>, <a
                                        href="{% static '/upload/iblock/f3c/zav8cy135l7bzg11beyg7w33wpr1rxkg.pdf' %}"
                                        target="_blank">правилами оказания онлайн-консультирования</a> и <a
                                        href="{% static '/upload/iblock/9b6/judzjq4rc3gtsyh6q6ghaccggl3nusq7.pdf' %}"
                                        target="_blank">условиями договора-оферты на оказание услуг</a></label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <button type="submit" class="btn btn-modal btn-blue">Заказать звонок</button>
                            <i class="icon icon-heart"></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade show js-callback-success-modal" tab/="-1" role="dialog" aria-modal="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="text-left needs-validation">
                        <div class="modal-header">
                            <div class="modal-title">Спасибо!</div>
                        </div>
                        <div class="modal-body"></div>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="/" class="btn btn-modal btn-blue">Перейти на главную</a>
                            <i class="icon icon-heart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"
        src="{% static '/templates/vetcity/js/jquery-3.6.0.min.js%3F162694166289503' %}"></script>
    <script type="text/javascript" src="{% static '/templates/vetcity/js/popper.min.js%3F162694166221009' %}"></script>
    <script type="text/javascript"
        src="{% static '/templates/vetcity/js/bootstrap.bundle.min.js%3F162694166284384' %}"></script>
    <script type="text/javascript"
        src="{% static '/templates/vetcity/js/scrollreveal.js%3F162694166246205' %}"></script>
    <script type="text/javascript"
        src="{% static '/templates/vetcity/js/jquery.fancybox.min.js%3F162694166268265' %}"></script>
    <script type="text/javascript"
        src="{% static '/templates/vetcity/js/owl.carousel.min.js%3F162694166244348' %}"></script>
    <script type="text/javascript"
        src="{% static '/templates/vetcity/js/bootstrap-select.min.js%3F162694166257752' %}"></script>
    <script type="text/javascript"
        src="{% static '/templates/vetcity/js/jquery.inputmask.min.js%3F162694166293838' %}"></script>
    <script type="text/javascript" src="{% static '/templates/vetcity/js/moment.min.js%3F162869081858862' %}"></script>
    <script type="text/javascript"
        src="{% static '/templates/vetcity/js/jquery.validate.min.js%3F163177822424430' %}"></script>
    <script type="text/javascript"
        src="{% static '/templates/vetcity/js/jquery.highlight.js%3F16345471064079' %}"></script>
    <script type="text/javascript" src="{% static '/templates/vetcity/js/main.js%3F16353386316990' %}"></script>
    <script type="text/javascript"
        src="https://vet.city/bitrix/components/bitrix/search.title/script.js?16267702349847"></script>
    <script type="text/javascript"
        src="{% static '/components/wlcomponents/subscribe/templates/.default/script.js%3F1626941662299' %}"></script>
    <script type="text/javascript"
        src="{% static '/components/wlcomponents/calltouch/templates/.default/script.js%3F16484523923457' %}"></script>
    <script type="text/javascript"
        src="{% static '/templates/.default/components/bitrix/news.list/symptoms-list/script.js%3F1628592705850' %}"></script>
    <script type="text/javascript"
        src="{% static '/components/wlcomponents/form.result.new/templates/main/script.js%3F16317782243046' %}"></script>

    </body>

</html>