{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="navbar" id="fixed-menu">
    <div class="main-body">
        <!-- START .main-body -->
        <div class="container backgr-white roundy">
            <div class="main-body-header head-for-contacts">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column flex-md-row justify-content-between w-100">
                        <a href="../" class="logo-main"></a>
                        <nav aria-label="breadcrumb" class="d-none d-xl-block mx-auto">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Контакты</li>
                            </ol>
                        </nav>
                    </div>
                    <a href="javascript:void(0);" class="hamburger"></a>
                </div>
                <h1 class="text-center">Контакты</h1>
                <div class="our-hours"></div>
                <div class="sub-txt text-center">
                    Работаем круглосуточно, без выходных!
                </div>
            </div> <!-- END .main-body-header  -->
            <div class="main-body-box body-for-contacts">
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="contacts-phone">
                        <div class="contacts-head text-grey">Телефон:</div>
                        <a href="tel:+79651186743">
                            +7 (965)<br>118-67-43 </a>
                    </div>
                    <div class="contacts-address">
                        <div class="contacts-head text-grey">Адрес:</div>
                        <div class="d-none d-md-block">
                            <span>Москва, улица Лесная, дом 3</span>
                        </div>
                        <div class="d-block d-md-none">
                            <span>
                                <a href='https://maps.google.com/?q=alicevet'>
                                    <a href='https://maps.apple.com/maps?q=alicevet'>
                                        Москва, улица Лесная, дом 3 </a></a>
                            </span>
                        </div>
                        <div class="directions d-flex justify-content-between">
                            <div class="directions-in by-metro">
                                <div class="d-flex align-items-center">
                                    <div class="contact-icon metro-icon"></div>
                                    <h5>Метро</h5>
                                </div>
                                <div class="address-txt">Cтанция «Менделеевская»</div>
                                <div class="text-grey">(10 минут пешком)</div>
                            </div>
                            <div class="directions-in by-bus">
                                <div class="d-flex align-items-center">
                                    <div class="contact-icon bus-icon"></div>
                                    <h5>Метро</h5>
                                </div>
                                <div class="address-txt"> Станция «Белорусская»</div>
                                <div class="text-grey">(5 минут пешком)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="maps" id="map">
                </div>

                <div class="d-lg-flex justify-content-between">
                    <div class="parking backgr-blue text-white d-flex">
                        <div class="p-icon text-blue">P</div>
                        <div>Бесплатная парковка<br>
                            для пациентов и их хозяев при наличии записи
                        </div>
                    </div>
                    <div class="social-links-contacts d-flex justify-content-center">

                        <a href="https://vk.com/alicevet" target="_blank" class="footer-vk"></a>
                        <a href="https://t.me/alicevet" target="_blank" class="footer-tg"></a>
                    </div>
                </div>
            </div> <!-- END .main-body-box  -->
        </div> <!-- END .container  -->
    </div> <!-- END .main-main-body-->


    <!-- To detect which environment we are in 
<div id="environment-xs" class="d-sm-none"></div>
<div id="environment-sm" class="d-none d-sm-block d-md-none"></div>
<div id="environment-md" class="d-none d-md-block d-lg-none"></div>
<div id="environment-lg" class="d-none d-lg-block d-xl-none"></div>
<div id="environment-xl" class="d-none d-xl-block"></div>
-->
    <script type="text/javascript"
        src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=9eaf4d60-af5f-4f37-a472-4fa728263f4d"></script>


    <script>
        ymaps.ready(init);

        function init() {
            var myMap = new ymaps.Map("map", {
                center: [55.811675, 37.640857],
                zoom: 16
            });

            myMap.geoObjects.add(new ymaps.Placemark([55.811675, 37.640857], {
                balloonContent: '<strong>Vetcity Clinic</strong><br>Зубарев пер., 7, Москва'
            }, {
                iconLayout: 'default#image',
                iconImageHref: '//templates/vetcity/img/map-marker.png',
                iconImageSize: [68, 68],
            }));
            myMap.controls.remove('geolocationControl');
            myMap.controls.remove('searchControl');
            myMap.controls.remove('trafficControl');
            myMap.controls.remove('typeSelector');
            myMap.controls.remove('fullscreenControl');
            myMap.controls.remove('rulerControl');
            myMap.behaviors.disable(['scrollZoom']);

        }

    </script>
    <script>
        new callbackModalComponent({
            componentID: 'c625c42e8b3594',
            form_id: 'vet_city'
        })
    </script>
    {% endblock %}