{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main-header main-page">
    <!-- START .main-header -->
    <div class="container roundy" style="background-color: #e8e3df">
        <div class="main-part" style="background-image: url(/media/VetCareMain_page-0001.jpg); 
            background-repeat: no-repeat; 
            
            background-position: 50% 40%;
            background-size: cover">
            <div class="main-address text-md-center">
                <h1>Круглосуточная ветеринарная клиника</h1>
                <br class="d-md-block">
                <a href="contacts" class="text-blue">Улица Лесная, дом 3</a>
            </div>
        </div>
        <a href="javascript:void(0);" class="hamburger"></a>
    </div> <!-- END .container  -->
</div> <!-- END .main-header-->

<div class="about-us">
    <!-- START .about-us -->
    <div class="container roundy">
        <div class="about-us-in backgr-white col-12 col-xl-6 float-right">
            <p class="text-black">
                <span class="text-blue">Наши ценности — </span><br>
                здоровье животных<br>
                время и комфорт клиентов<br>
                качество и безопасность услуг<br class="d-none d-xl-block">
                порядочность и ответственность<br class="d-none d-xl-block">
            </p>
            <div class="about-us-bottom d-flex justify-content-between">
                <a href="about" class="backgr-blue text-white">Подробнее</a>
                <div class="img-logo d-lg-none align-self-end"></div>
                <div class="d-none d-lg-block text-right">
                    Мы обеспечиваем здоровье<br>
                    и долголетие </div>
            </div>
        </div> <!-- END .about-us-in.backgr-white-->
    </div> <!-- END .container.roundy -->
</div> <!-- END .about-us -->

<div class="services">
    <!-- START .services -->
    <div class="container roundy" style="background-color: #e8e3df;
        background-image: url(/media/VetCareMain_page-0001.jpg); 
         
            
        background-position: 50% -9%;
      
    ">
    <div class="main-address text-md-center">
        <h3 class="text-center">Услуги</h3>
        <div class="services-box">
            <div class="row">
                {% for group_service in group_services %}
                <div class="services-card col-12 col-md-6 ">
                    <a href="/services/{{group_service.pk}}" class="with-backgr d-flex flex-column backgr-grey"
                        style="background-image: url('/media/{{group_service.photo}}');">
                        <h2>{{group_service.name}}</h2>
                    </a>
                </div> <!-- END .services-card -->
                {% endfor %}

                <a class="services-card-text services-booking text-white d-flex col-12 col-md-6 col-xl-3 js-btn-callback"
                    href="/login#calltouch">
                    <div class="backgr-blue">
                        <div class="text-right">
                            Мы стремимся обеспечивать<br>
                            высокий уровень<br>
                            профессиональной ветеринарной<br>
                            помощи, повышать качество<br>
                            жизни животных и развивать<br>
                            культуру ответственного<br>
                            отношения к ним. </div>
                        <span class="btn btn-white btn-whitery">Записаться на прием</span>
                    </div>
                </a>
               
                <a href="/services" class="services-card col-12 col-md-6 col-xl-3">
                    <div class="blue-border">
                        <h2>Все<br>услуги<br>клиники</h2>
                        <span class="btn-show"></span>
                    </div> <!-- END .blue-border -->
                </a> <!-- END .services-card -->
            </div> <!-- END .row -->
        </div> <!-- END .services-box -->
    </div> <!-- END .container.roundy.backgr-white -->
</div> <!-- END .services -->




<div class="deals-team">
    <!-- START .deals-team -->
    <div class="container container-for-mob d-md-flex justify-content-between">
        <div class="deals text-white d-md-flex flex-md-row">
            <div class="owl-carousel owl-theme">
                <div class="deals-owl-slider white roundy d-flex flex-column justify-content-end" 
                style="background-image: url(/media/index2.jpg); 
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center">
                    <div class="deals-white-container">
                        <h4> Наши врачи - это высококлассные специалисты, <br>
                            имеющие многолетний опыт в сфере профилактики и лечения, <br>
                            поэтому могут правильно и быстро поставить диагноз больному животному <br>
                            и своевременно назначить необходимое лечение
                        </h4>
                    </div>

                    
                </div>

            </div>
        </div>
        <div class="team deals roundy d-xl-flex flex-xl-column justify-content-xl-stretch align-items-xl-stretch">
            <div class="owl-carousel owl-theme">
                {% for doctor in doctors %}
                <a href="/doctors" class="d-flex flex-column justify-content-end text-black">
                    <div class="backgr-white team-about">
                        <h5> {{doctor.first_name}}</h5>
                        <div>Заведующий отделением терапии</div>
                    </div>
                    <img class="background"
                        src="{% static '/upload/resize_cache/iblock/4f1/1000_1000_0/mh9q9znvzzsf5npufsp734hsx4h74m1r.webp' %}"
                        loading="lazy" />
                </a>
                {% endfor %}
                
                <div class="doctors-last-item">
                    <h4 class="text-center">Наши врачи</h4>
                    <div class="doctors-last-item-wrap">
                        <div class="doctors-last-item-text">В <span class="vet_heart"></span> Vetcity сотрудники
                            досконально знают свое дело, увлечены своей профессией и постоянно совершенствуются.
                        </div>
                         <div class="doctors-last-item-bottom-text">Мы собрали команду единомышленников, готовых
                            расти профессионально и обеспечивать высокий уровень помощи пациентам любого вида, с
                            заболеваниями любой сложности.</div> 
                    </div>
                    <button class="btn btn-blue" onclick="location.href='/doctors/'">Все врачи Vetcity</a>
                </div>
            </div>
         
        </div>
    </div> <!-- END .container.container-for-mob -->
</div> <!-- END .container.container-for-mob -->
</div> <!-- END .deals-team -->

<div class="checkup">
    <!-- START .team.roundy -->
    <div class="container roundy backgr-blue text-white">
        <h4 class="text-center">Интересные факты!</h4>
        <div class="checkup-text d-flex flex-column flex-md-row align-items-md-end justify-content-between">
            <div class="big30 text-center">30</div>
            <div class="checkup-animal checkup-dogs active">
                <img src="{% static '/upload/iblock/1f1/4bzs58lsghtjukxqanlrdy0ckbn7s0l3.webp' %}" loading="lazy" />
            </div>
            <div class="checkup-animal checkup-cats ">
                <img src="{% static '/upload/iblock/922/kze0a9r3rrwrcymi1bhzgkmg037iq3wg.webp' %}" loading="lazy" />
            </div>
            <h2 class="text-right"> Невероятные<br>
                факты<br>
                о домашних<br>
                питомцах
            </h2>
        </div>

        <!-- <div class="checkup-toggle-box">
        <a href="javascript:void(0);">
            <div class="checkbox-toggle-content d-flex justify-content-between">
                <div class="checkbox-toggle"></div>
                <span class="slider-control-item active text-center flex-fill" data-show="#content-dogs"
                    data-animal="dogs">Сигналы у собак</span>
                <span class="slider-control-item  text-center flex-fill" data-show="#content-cats"
                    data-animal="cats">Сигналы у кошек</span>
            </div>
        </a>
    </div> -->
        <div class="checkup-cards-whole">
            <div id="content-dogs" style="">
                <div id="cmp625c1aefbf885">
                    <div class="checkup-cards text-black">
                        <div class="row row-checkup js-items">
                            <div class="checkup-card d-flex flex-column col-12 col-sm-6 col-md-4 col-lg-3 col-xl-card"
                                id="bx_651765591_105">
                                <div class="checkup-card-inner d-flex flex-column justify-content-between">
                                    <div class="checkup-card-in d-flex flex-column justify-content-between">
                                        <div>Поле зрения кроликов – почти 360 градусов</div>
                                        <img src="{% static '/upload/iblock/e57/ppzcw55637vmo96n6ltw8tw6gtt0dp2w.svg' %}"
                                            alt="Судороги" loading="lazy">
                                    </div>
                                    <div
                                        class="checkup-card-in-hover card-book-in d-flex flex-column justify-content-between">
                                        <div>Немного о кроликах</div>
                                        <div>Не так просто подкрасться к кролику, ведь он видит, что происходит сбоку,
                                            сзади и над ним даже без поворота головы. Но удивительно то,
                                            что при таких способностях у животного есть «слепое пятно» обзора прямо
                                            перед мордочкой.</div>
                                        <!--<a href="//#calltouch"
                                        class="btn btn-blue btn-book js-btn-callback">Записаться</a> -->
                                    </div>
                                </div> <!-- END .checkup-card-inner -->
                            </div> <!-- END .checkup-card -->
                            <div class="checkup-card d-flex flex-column col-12 col-sm-6 col-md-4 col-lg-3 col-xl-card"
                                id="bx_651765591_104">
                                <div class="checkup-card-inner d-flex flex-column justify-content-between">
                                    <div class="checkup-card-in d-flex flex-column justify-content-between">
                                        <div>Попугаи единственные могут есть ногами</div>
                                        <img src="{% static '/upload/iblock/49f/rycez3c2q3upsmgynmg173ch2y355rx5.svg' %}"
                                            alt="Чешется" loading="lazy">
                                    </div>
                                    <div
                                        class="checkup-card-in-hover card-book-in d-flex flex-column justify-content-between">
                                        <div>Немного о попугаях</div>
                                        <div>Ноги у попугая схожи с человеческими руками – они могут на них не только
                                            передвигаться,
                                            но еще и собирать предметы и подносить еду до клюва. Ни одна другая птица на
                                            это не способна.</div>

                                    </div>
                                </div> <!-- END .checkup-card-inner -->
                            </div> <!-- END .checkup-card -->
                            <div class="checkup-card d-flex flex-column col-12 col-sm-6 col-md-4 col-lg-3 col-xl-card"
                                id="bx_651765591_103">
                                <div class="checkup-card-inner d-flex flex-column justify-content-between">
                                    <div class="checkup-card-in d-flex flex-column justify-content-between">
                                        <div>Половину дня кошки тратят на уход за собой</div>
                                        <img src="{% static '/upload/iblock/082/dv3543seou0q7hm3zmt06eq90b45nmnx.svg' %}"
                                            alt="Жажда" loading="lazy">
                                    </div>
                                    <div
                                        class="checkup-card-in-hover card-book-in d-flex flex-column justify-content-between">
                                        <div>Немного о кошках</div>
                                        <div>Кошки тратят на "умывание" 50% своего времени, и делают это, чтобы ослабить
                                            свой запах и избежать нападения хищников.
                                            Также, это стимулирует кровообращение, и животное всегда остается сухим и
                                            теплым.</div>

                                    </div>
                                </div> <!-- END .checkup-card-inner -->
                            </div> <!-- END .checkup-card -->
                            <div class="checkup-card d-flex flex-column col-12 col-sm-6 col-md-4 col-lg-3 col-xl-card"
                                id="bx_651765591_102">
                                <div class="checkup-card-inner d-flex flex-column justify-content-between">
                                    <div class="checkup-card-in d-flex flex-column justify-content-between">
                                        <div>Попугай – самое древнее домашнее животное</div>
                                        <img src="{% static '/upload/iblock/868/dx1bk96sxv6ys0ko5aqs4b7ziolksarh.svg' %}"
                                            alt="Обильное мочеиспускание" loading="lazy">
                                    </div>
                                    <div
                                        class="checkup-card-in-hover card-book-in d-flex flex-column justify-content-between">
                                        <div>Немного о попугаях</div>
                                        <div>В качестве домашних питомцев попугаев стали использовать еще древние
                                            египтяне, а позднее – индейцы и китайцы.
                                            В Европе они появились уже в 300 году до н.э, причем жили только у знатных
                                            людей.</div>

                                    </div>
                                </div> <!-- END .checkup-card-inner -->
                            </div> <!-- END .checkup-card -->
                            <div class="checkup-card d-flex flex-column col-12 col-sm-6 col-md-4 col-lg-3 col-xl-card"
                                id="bx_651765591_101">
                                <div class="checkup-card-inner d-flex flex-column justify-content-between">
                                    <div class="checkup-card-in d-flex flex-column justify-content-between">
                                        <div>Дети лучше читают в компании собак</div>
                                        <img src="{% static '/upload/iblock/933/c27vf5xydgnr3ay51gkb8saykz1bmyzg.svg' %}"
                                            alt="Отеки" loading="lazy">
                                    </div>
                                    <div
                                        class="checkup-card-in-hover card-book-in d-flex flex-column justify-content-between">
                                        <div>Немного о собаках</div>
                                        <div>Если ребенок испытывают трудности с чтением, то ему нужна собака! Она
                                            помогает юному читателю обрести уверенность в себе,
                                            потому что не умеет судить, не прерывает чтение замечаниями, а просто
                                            спокойно и внимательно слушает.</div>

                                    </div>
                                </div> <!-- END .checkup-card-inner -->
                            </div> <!-- END .checkup-card -->
                            <div class="checkup-card d-flex flex-column col-12 col-sm-6 col-md-4 col-lg-3 col-xl-card"
                                id="bx_651765591_100">
                                <div class="checkup-card-inner d-flex flex-column justify-content-between">
                                    <div class="checkup-card-in d-flex flex-column justify-content-between">
                                        <div>У собак удивительные носы</div>
                                        <img src="{% static '/upload/iblock/572/gcy3qcu90ljfdqsklov55vugo6uq1yzo.svg' %}"
                                            alt="Высокая температура" loading="lazy">
                                    </div>
                                    <div
                                        class="checkup-card-in-hover card-book-in d-flex flex-column justify-content-between">
                                        <div>Немного о собаках</div>
                                        <div>Отпечаток собачьего носа так же уникален, как и отпечатки человеческих
                                            пальцев.</div>

                                    </div>
                                </div> <!-- END .checkup-card-inner -->
                            </div> <!-- END .checkup-card -->
                            <div class="checkup-card d-flex flex-column col-12 col-sm-6 col-md-4 col-lg-3 col-xl-card"
                                id="bx_651765591_99">
                                <div class="checkup-card-inner d-flex flex-column justify-content-between">
                                    <div class="checkup-card-in d-flex flex-column justify-content-between">
                                        <div>Зачем кошки мяукают</div>
                                        <img src="{% static '/upload/iblock/9a7/13rncv40fydejhu6cpws1csv3d9usmap.svg' %}"
                                            alt="Проглотил инородный предмет" loading="lazy">
                                    </div>
                                    <div
                                        class="checkup-card-in-hover card-book-in d-flex flex-column justify-content-between">
                                        <div>Немного о кошках</div>
                                        <div>Домашние кошки мяукают,
                                            только когда хотят обратить на себя внимание людей. При общении друг с
                                            другом они эти звуки не используют.</div>

                                    </div>
                                </div> <!-- END .checkup-card-inner -->
                            </div> <!-- END .checkup-card -->
                            <div class="checkup-card d-flex flex-column col-12 col-sm-6 col-md-4 col-lg-3 col-xl-card"
                                id="bx_651765591_98">
                                <div class="checkup-card-inner d-flex flex-column justify-content-between">
                                    <div class="checkup-card-in d-flex flex-column justify-content-between">
                                        <div>Как правильно держать крыс</div>
                                        <img src="{% static '/upload/iblock/505/ex4ahmw0zylm3r4hmnr344f60xy3az44.svg' %}"
                                            alt="Синюшность слизистых" loading="lazy">
                                    </div>
                                    <div
                                        class="checkup-card-in-hover card-book-in d-flex flex-column justify-content-between">
                                        <div>Немного о крысах</div>
                                        <div>Такие домашние животные, как крысы — существа очень социальные. Поодиночке
                                            они чахнут от тоски.
                                            Их всегда нужно держать хотя бы по двое, как минимум, чтобы у них была
                                            компания.</div>

                                    </div>
                                </div> <!-- END .checkup-card-inner -->
                            </div> <!-- END .checkup-card -->
                            <div class="checkup-card d-flex flex-column col-12 col-sm-6 col-md-4 col-lg-3 col-xl-card"
                                id="bx_651765591_97">
                                <div class="checkup-card-inner d-flex flex-column justify-content-between">
                                    <div class="checkup-card-in d-flex flex-column justify-content-between">
                                        <div>Обоняние у крыс</div>
                                        <img src="{% static '/upload/iblock/798/jbcjkeea3thhl336emrwg53tlr72cnp1.svg' %}"
                                            alt="Необычные выделения" loading="lazy">
                                    </div>
                                    <div
                                        class="checkup-card-in-hover card-book-in d-flex flex-column justify-content-between">
                                        <div>Немного о крысах</div>
                                        <div>Обоняние у крыс, и диких, и домашних, настолько острое, что они способны
                                            унюхать одну миллионную долю яда в пище.</div>

                                    </div>
                                </div> <!-- END .checkup-card-inner -->
                            </div> <!-- END .checkup-card -->
                            <div class="checkup-card d-flex flex-column col-12 col-sm-6 col-md-4 col-lg-3 col-xl-card"
                                id="bx_651765591_96">
                                <div class="checkup-card-inner d-flex flex-column justify-content-between">
                                    <div class="checkup-card-in d-flex flex-column justify-content-between">
                                        <div>Самые долгожители среди питомцев</div>
                                        <img src="{% static '/upload/iblock/c7c/rwbpx1mc8f44ektfgu4y7r8p1rfvo0m4.svg' %}"
                                            alt="Похудел" loading="lazy">
                                    </div>
                                    <div
                                        class="checkup-card-in-hover card-book-in d-flex flex-column justify-content-between">
                                        <div>Немного о черепахах</div>
                                        <div>Долгожителями среди домашних животных являются черепахи. Они иногда живут
                                            по несколько сотен лет.
                                            Так, Чарльз Дарвин,
                                            создатель теории эволюции, скончался в 1882 году, а его домашняя черепаха
                                            Гариетта умерла в 2006 году.</div>

                                    </div>
                                </div> <!-- END .checkup-card-inner -->
                            </div> <!-- END .checkup-card -->

                        </div>
                    </div>
                    <!--<div class="btn-box-more">
                    <div class="btn btn-white js-show-more">Показать еще</div>
                </div>  END .btn-box-more-->
                </div>

            </div>
            <!--<div id="content-cats" style="display: none;">
            <div id="cmp625c1aefc2a98">
                <div class="checkup-cards text-black">
                    <div class="row row-checkup js-items">
                        <div class="checkup-card d-flex flex-column col-12 col-sm-6 col-md-4 col-lg-3 col-xl-card"
                            id="bx_1373509569_135">
                            <div class="checkup-card-inner d-flex flex-column justify-content-between">
                                <div class="checkup-card-in d-flex flex-column justify-content-between">
                                    <div>Судороги</div>
                                    <img src="{% static '/upload/iblock/bcb/pclds39rwlz6l80h0o9961v2xte33oa2.svg' %}"
                                        alt="Судороги" loading="lazy">
                                </div>
                                <div
                                    class="checkup-card-in-hover card-book-in d-flex flex-column justify-content-between">
                                    <div>Судороги</div>
                                    <div>Если конечности питомца непроизвольно дергаются, он теряет сознание и
                                        способность передвигаться, причину приступа выяснит терапевт, кардиолог
                                        или невролог</div>
                                    <a href="//#calltouch"
                                        class="btn btn-blue btn-book js-btn-callback">Записаться</a>
                                </div>
                            </div>  END .checkup-card-inner
                        </div> END .checkup-card 
                        <div class="checkup-card d-flex flex-column col-12 col-sm-6 col-md-4 col-lg-3 col-xl-card"
                            id="bx_1373509569_134">
                            <div class="checkup-card-inner d-flex flex-column justify-content-between">
                                <div class="checkup-card-in d-flex flex-column justify-content-between">
                                    <div>Чешется</div>
                                    <img src="{% static '/upload/iblock/3ad/ewgrenzy531m1wrg5lv2p9nyl31uesjr.svg' %}"
                                        alt="Чешется" loading="lazy">
                                </div>
                                <div
                                    class="checkup-card-in-hover card-book-in d-flex flex-column justify-content-between">
                                    <div>Чешется</div>
                                    <div>Частый или непрекращающийся зуд — повод обратиться к дерматологу</div>
                                    <a href="//#calltouch"
                                        class="btn btn-blue btn-book js-btn-callback">Записаться</a>
                                </div>
                            </div> END .checkup-card-inner 
                        </div> END .checkup-card 
                        <div class="checkup-card d-flex flex-column col-12 col-sm-6 col-md-4 col-lg-3 col-xl-card"
                            id="bx_1373509569_133">
                            <div class="checkup-card-inner d-flex flex-column justify-content-between">
                                <div class="checkup-card-in d-flex flex-column justify-content-between">
                                    <div>Жажда</div>
                                    <img src="{% static '/upload/iblock/17c/ilqgv8my7cpuc2lpwpbcder5xy5oki1c.svg' %}"
                                        alt="Жажда" loading="lazy">
                                </div>
                                <div
                                    class="checkup-card-in-hover card-book-in d-flex flex-column justify-content-between">
                                    <div>Жажда</div>
                                    <div>Если животное не может утолить жажду и постоянно просит пить, запишите
                                        его на прием к эндокринологу</div>
                                    <a href="//#calltouch"
                                        class="btn btn-blue btn-book js-btn-callback">Записаться</a>
                                </div>
                            </div>  END .checkup-card-inner 
                        </div>  END .checkup-card
                        <div class="checkup-card d-flex flex-column col-12 col-sm-6 col-md-4 col-lg-3 col-xl-card"
                            id="bx_1373509569_132">
                            <div class="checkup-card-inner d-flex flex-column justify-content-between">
                                <div class="checkup-card-in d-flex flex-column justify-content-between">
                                    <div>Обильное мочеиспускание</div>
                                    <img src="{% static '/upload/iblock/c38/mgakbf1jr0z2xcj4ksaoq02xzxvwxzau.svg' %}"
                                        alt="Обильное мочеиспускание" loading="lazy">
                                </div>
                                <div
                                    class="checkup-card-in-hover card-book-in d-flex flex-column justify-content-between">
                                    <div>Обильное мочеиспускание</div>
                                    <div>Если питомец мочится часто и обильно, покажите его терапевту или
                                        эндокринологу</div>
                                    <a href="//#calltouch"
                                        class="btn btn-blue btn-book js-btn-callback">Записаться</a>
                                </div>
                            </div>  END .checkup-card-inner
                        </div> END .checkup-card
                        <div class="checkup-card d-flex flex-column col-12 col-sm-6 col-md-4 col-lg-3 col-xl-card"
                            id="bx_1373509569_131">
                            <div class="checkup-card-inner d-flex flex-column justify-content-between">
                                <div class="checkup-card-in d-flex flex-column justify-content-between">
                                    <div>Отеки</div>
                                    <img src="{% static '/upload/iblock/680/sg7ot03p4qjw55sqtwmhtcguy4iygz8i.svg' %}"
                                        alt="Отеки" loading="lazy">
                                </div>
                                <div
                                    class="checkup-card-in-hover card-book-in d-flex flex-column justify-content-between">
                                    <div>Отеки</div>
                                    <div>Если животное съело что-то неподходящее или после введения препаратов,
                                        повод обратиться к терапевту</div>
                                    <a href="//#calltouch"
                                        class="btn btn-blue btn-book js-btn-callback">Записаться</a>
                                </div>
                            </div>  END .checkup-card-inner
                        </div>  END .checkup-card
                        <div class="checkup-card d-flex flex-column col-12 col-sm-6 col-md-4 col-lg-3 col-xl-card"
                            id="bx_1373509569_130">
                            <div class="checkup-card-inner d-flex flex-column justify-content-between">
                                <div class="checkup-card-in d-flex flex-column justify-content-between">
                                    <div>Высокая температура</div>
                                    <img src="{% static '/upload/iblock/a10/bt2fb2by60mms1cmznuf8rpdxpix7aij.svg' %}"
                                        alt="Высокая температура" loading="lazy">
                                </div>
                                <div
                                    class="checkup-card-in-hover card-book-in d-flex flex-column justify-content-between">
                                    <div>Высокая температура</div>
                                    <div>Температура выше 39,5 у кошек, повод обратиться к терапевту</div>
                                    <a href="//#calltouch"
                                        class="btn btn-blue btn-book js-btn-callback">Записаться</a>
                                </div>
                            </div>  END .checkup-card-inner 
                        </div> END .checkup-card 
                        <div class="checkup-card d-flex flex-column col-12 col-sm-6 col-md-4 col-lg-3 col-xl-card"
                            id="bx_1373509569_129">
                            <div class="checkup-card-inner d-flex flex-column justify-content-between">
                                <div class="checkup-card-in d-flex flex-column justify-content-between">
                                    <div>Проглотил инородный предмет</div>
                                    <img src="{% static '/upload/iblock/c30/nor4d00iqkffq8evch8j1t48d6rczafx.svg' %}"
                                        alt="Проглотил инородный предмет" loading="lazy">
                                </div>
                                <div
                                    class="checkup-card-in-hover card-book-in d-flex flex-column justify-content-between">
                                    <div>Проглотил инородный предмет</div>
                                    <div>Если питомец проглотил инородный предмет, как можно скорее отвезите его
                                        хирургу</div>
                                    <a href="//#calltouch"
                                        class="btn btn-blue btn-book js-btn-callback">Записаться</a>
                                </div>
                            </div>  END .checkup-card-inner 
                        </div>  END .checkup-card 
                        <div class="checkup-card d-flex flex-column col-12 col-sm-6 col-md-4 col-lg-3 col-xl-card"
                            id="bx_1373509569_128">
                            <div class="checkup-card-inner d-flex flex-column justify-content-between">
                                <div class="checkup-card-in d-flex flex-column justify-content-between">
                                    <div>Синюшность слизистых</div>
                                    <img src="{% static '/upload/iblock/c64/68w35effa7l54cl40r7jnt3pf97v1re8.svg' %}"
                                        alt="Синюшность слизистых" loading="lazy">
                                </div>
                                <div
                                    class="checkup-card-in-hover card-book-in d-flex flex-column justify-content-between">
                                    <div>Синюшность слизистых</div>
                                    <div>Появление синюшности/бледности слизистых — повод показать питомца
                                        терапевту</div>
                                    <a href="//#calltouch"
                                        class="btn btn-blue btn-book js-btn-callback">Записаться</a>
                                </div>
                            </div>  END .checkup-card-inner 
                        </div>  END .checkup-card 
                        <div class="checkup-card d-flex flex-column col-12 col-sm-6 col-md-4 col-lg-3 col-xl-card"
                            id="bx_1373509569_127">
                            <div class="checkup-card-inner d-flex flex-column justify-content-between">
                                <div class="checkup-card-in d-flex flex-column justify-content-between">
                                    <div>Необычные выделения</div>
                                    <img src="{% static '/upload/iblock/9bc/4fdnip06t43wwjs45g40xkjlm2ubw98u.svg' %}"
                                        alt="Необычные выделения" loading="lazy">
                                </div>
                                <div
                                    class="checkup-card-in-hover card-book-in d-flex flex-column justify-content-between">
                                    <div>Необычные выделения</div>
                                    <div>При появлении необычных выделений из носа, рта, глаз и/или половых
                                        органов, покажите питомца терапевту или офтальмологу</div>
                                    <a href="//#calltouch"
                                        class="btn btn-blue btn-book js-btn-callback">Записаться</a>
                                </div>
                            </div>  END .checkup-card-inner 
                        </div> END .checkup-card 
                        <div class="checkup-card d-flex flex-column col-12 col-sm-6 col-md-4 col-lg-3 col-xl-card"
                            id="bx_1373509569_126">
                            <div class="checkup-card-inner d-flex flex-column justify-content-between">
                                <div class="checkup-card-in d-flex flex-column justify-content-between">
                                    <div>Похудел</div>
                                    <img src="{% static '/upload/iblock/b1f/r22swipkzovn7rqmd6314x5wl6tirs9y.svg' %}"
                                        alt="Похудел" loading="lazy">
                                </div>
                                <div
                                    class="checkup-card-in-hover card-book-in d-flex flex-column justify-content-between">
                                    <div>Похудел</div>
                                    <div>Резкое похудение животного — повод обратиться к терапевту, онкологу или
                                        эндокринологу</div>
                                    <a href="//#calltouch"
                                        class="btn btn-blue btn-book js-btn-callback">Записаться</a>
                                </div>
                            </div>  END .checkup-card-inner 
                        </div>  END .checkup-card

                    </div>
                </div>
                <div class="btn-box-more">
                    <div class="btn btn-white js-show-more">Показать еще</div>
                </div>  END .btn-box-more
            </div>

        </div> -->
        </div>
    </div> <!-- END .checkup-cards-whole-->
</div> <!-- END .checkup -->
{% endblock %}